In [48]:
import pandas as pd
import numpy as np
import os

In [49]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # to make jupyter print all outputs, not just the last one
from IPython.core.display import HTML # to pretty print pandas df and be able to copy them over (e.g. to ppt slides)

### Netflix Prize dataset import:

In [50]:
os.listdir(os.path.join('.','netflix_dataset'))

['combined_data_1.txt',
 'combined_data_2.txt',
 'combined_data_3.txt',
 'combined_data_4.txt',
 'movie_titles.csv',
 'probe.txt',
 'qualifying.txt',
 'README']

In [51]:
# read the CSV file line by line
with open(os.path.join('.', 'netflix_dataset','movie_titles.csv'), 'r', encoding='latin-1') as file:
    lines = file.readlines()

# process each line
data = []
for line in lines:
    parts = line.strip().split(',', 2)  # split the line using first two commas only, to ensure only id, year and title are catched, as they cover two commas
    if len(parts) == 3:  # this way it is checked whether its actually three parts
        # concatenate the result and append it
        data.append((parts[0],parts[1], parts[2]))

movie_title_df = pd.DataFrame(data, columns=['movieId','year','title'])

# convert id column to integer for merging later
movie_title_df['movieId'] = movie_title_df['movieId'].astype(int)

In [52]:
# get the complete list of files in the netflix directory
netflix_files = os.listdir(os.path.join('.', 'netflix_dataset'))

# make a filter which only contains the combined datafiles
combined_files = [file for file in netflix_files if 'combined' in file]

# define a generator expression to yield each file's data and make a pd dataframe where only the combined files are selected
data_generator = (pd.read_csv(os.path.join('.', 'netflix_dataset', file), sep=',', header=None, names=['userId', 'rating', 'date'], nrows=1000000) for file in combined_files)

# concatenate the result
netflix_df = pd.concat(data_generator, ignore_index=True)

### MovieLens data import:

In [53]:
# import each csv
df_links = pd.read_csv('movielens_dataset/links.csv',sep=',')
df_movies = pd.read_csv('movielens_dataset/movies.csv',sep=',')
df_ratings = pd.read_csv('movielens_dataset/ratings.csv',sep=',')
df_tags = pd.read_csv('movielens_dataset/tags.csv',sep=',')

In [54]:
# look at each dataset individually
df_links
df_movies
df_ratings
df_tags

# by looking at the dataframes, they can be merged into two ones instead of four to create a user and movie dataframe
movies_df = pd.merge(df_links,df_movies,on='movieId',how='outer')
# merge by userId and movieId to rating, timestamp of rating, tag and timestmap of tag per user and the movie the review has been givent to
users_df = pd.merge(df_ratings,df_tags,on=['userId','movieId'],how='outer')
users_df
users_df.isnull().sum()
df_tags['userId'].nunique()
df_ratings['userId'].nunique()

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

        userId  movieId  rating   timestamp_x               tag   timestamp_y
0            1        1     4.0  9.649827e+08               NaN           NaN
1            1        3     4.0  9.649812e+08               NaN           NaN
2            1        6     4.0  9.649822e+08               NaN           NaN
3            1       47     5.0  9.649838e+08               NaN           NaN
4            1       50     5.0  9.649829e+08               NaN           NaN
...        ...      ...     ...           ...               ...           ...
102879     610   166534     4.0  1.493848e+09               NaN           NaN
102880     610   168248     5.0  1.493850e+09  Heroic Bloodshed  1.493844e+09
102881     610   168250     5.0  1.494273e+09               NaN           NaN
102882     610   168252     5.0  1.493846e+09               NaN           NaN
102883     610   170875     3.0  1.493846e+09               NaN           NaN

[102884 rows x 6 columns]

userId             0
movieId            0
rating           207
timestamp_x      207
tag            99201
timestamp_y    99201
dtype: int64

58

610

In **tag** and **timestamp_y** form **users_df** column are lots of null values, meaning that not that many users have given a tag to their review. Comparing the amount of unique users in the tags csv compared to the ratings df, it is normal to have that many null values after merging.

### Perform cleaning:

In [55]:
# create dummy columns by splitting by | and subsequently concatenating this df with the original one. Original genre column is dropped
# df_dummies = movies_df['genres'].str.get_dummies('|')
# movies_df = pd.concat([movies_df, df_dummies], axis=1)
# movies_df = movies_df.drop('genres',axis=1)

# extract number between brackets for creating release year column
movies_df['year'] = movies_df['title'].str.extract(r'\((\d{4})\)')

# cut off the last six characters to clean up the movie titles
movies_df['title'] = movies_df['title'].str[:-6]

# show cleaned result
movies_df

,movieId,imdbId,tmdbId,title,genres,year
0,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,113497,8844.0,Jumanji,Adventure|Children|Fantasy,1995
2,3,113228,15602.0,Grumpier Old Men,Comedy|Romance,1995
3,4,114885,31357.0,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,113041,11862.0,Father of the Bride Part II,Comedy,1995
...,...,...,...,...,...,...
9737,193581,5476944,432131.0,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017
9738,193583,5914996,445030.0,No Game No Life: Zero,Animation|Comedy|Fantasy,2017
9739,193585,6397426,479308.0,Flint,Drama,2017
9740,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple,Action|Animation,2018
9741,193609,101726,37891.0,Andrew Dice Clay: Dice Rules,Comedy,1991

In [56]:
# convert to a readable datetime format
users_df['date'] = pd.to_datetime(users_df['timestamp_x'],unit='s')
users_df['timestamp_tag'] = pd.to_datetime(users_df['timestamp_y'],unit='s')

# convert to day format and strip off time
users_df['date'] = users_df['date'].dt.date
users_df['timestamp_tag'] = users_df['timestamp_tag'].dt.date

# drop original columns
users_df = users_df.drop(['timestamp_x','timestamp_y'],axis=1)

In [57]:
checker = netflix_df['userId'].is_unique

if checker is True:
    print("Every value within movieid column of netflix data is unique.")
else:
    print('MovieId in netflix data is not unique, meaning mulitple reviews are in per movie. Therefore, the Movielens dataset can be merged with Netflix, as it will only add more reviews per movie.')

MovieId in netflix data is not unique, meaning mulitple reviews are in per movie. Therefore, the Movielens dataset can be merged with Netflix, as it will only add more reviews per movie.

Convert everything to parquet for performance purposes:

In [58]:
users_df.to_parquet('parquets/users_df')
movies_df.to_parquet('parquets/movies_df')
movie_title_df.to_parquet('parquets/movie_title_df')
netflix_df.to_parquet('parquets/netflix_df')

In [59]:
# netflix_df