In [213]:
import pyarrow.parquet as pq
import pandas as pd
import os
import numpy as np

In [214]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # to make jupyter print all outputs, not just the last one
from IPython.core.display import HTML # to pretty print pandas df and be able to copy them over (e.g. to ppt slides)

In [215]:
os.listdir(os.path.join('.', 'parquets'))

['movies_df', 'movie_title_df', 'netflix_df', 'users_df']

In [216]:
# create dfs from parquet files
netflix_df = pd.read_parquet('parquets/netflix_df')
movie_titles_df = pd.read_parquet('parquets/movie_title_df')
movies_df = pd.read_parquet('parquets/movies_df')
users_df = pd.read_parquet('parquets/users_df')

In [217]:
# merge movies and reviews from movielens dataset
movielens_df = pd.merge(movies_df,users_df,on='movieId',how='outer')

In [218]:
movielens_df

,movieId,imdbId,tmdbId,title,genres,year,userId,rating,tag,date,timestamp_tag
0,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,1,4.0,None,2000-07-30,None
1,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,5,4.0,None,1996-11-08,None
2,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,7,4.5,None,2005-01-25,None
3,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,15,2.5,None,2017-11-13,None
4,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,17,4.5,None,2011-05-18,None
...,...,...,...,...,...,...,...,...,...,...,...
102879,193581,5476944,432131.0,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017,184,4.0,None,2018-09-16,None
102880,193583,5914996,445030.0,No Game No Life: Zero,Animation|Comedy|Fantasy,2017,184,3.5,None,2018-09-16,None
102881,193585,6397426,479308.0,Flint,Drama,2017,184,3.5,None,2018-09-16,None
102882,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple,Action|Animation,2018,184,3.5,None,2018-09-16,None
102883,193609,101726,37891.0,Andrew Dice Clay: Dice Rules,Comedy,1991,331,4.0,None,2018-09-17,None

To work around the problem of working with millions of rows, we will append the movie review timestamps and ratings into dicitionaries per movieid. This way, we can work with less rows which will increase the ease of use with the data without taking chunks:

#### Movielens dataset:

In [219]:
# # create a new column 'user_data' filled with dictionaries
# movielens_df['review_data'] = movielens_df.apply(
#     lambda row: {'userId': row['userId'],
#                                  'rating': row['rating'],
#                                   'date': row['date'],
#                                   'tag': row['tag'],
#                                   'timestamp_tag': row['timestamp_tag']},
#     axis=1
# )

# Create a new column 'user_data' filled with dictionaries
movielens_df['review_data'] = movielens_df.apply(
    lambda row: {
        'userId': row['userId'],
        'rating': row['rating'],
        'date': row['date'],
        'tag': row['tag'],
        'timestamp_tag': row['timestamp_tag']
    } if any(row[['userId', 'rating', 'date', 'tag', 'timestamp_tag']].notna()) else None,
    axis=1
)

# # Create a new column 'review_data' filled with dictionaries
# movielens_df['review_data'] = movielens_df.apply(
#     lambda row: {
#         row['userId']: {
#             'rating': row['rating'],
#             'date': row['date'],
#             'tag': row['tag'],
#             'timestamp_tag': row['timestamp_tag']
#         }
#     } if any(row[['userId', 'rating', 'date', 'tag', 'timestamp_tag']].notna()) else None,
#     axis=1
# )

In [220]:
movielens_df.isnull().sum()

movieId              0
imdbId               0
tmdbId              13
title                0
genres               0
year                20
userId               0
rating             207
tag              99201
date               207
timestamp_tag    99201
review_data          0
dtype: int64

In [221]:
movielens_df = movielens_df.drop(['userId','rating','date','tag','timestamp_tag'],axis=1)

In [222]:
movielens_df

,movieId,imdbId,tmdbId,title,genres,year,review_data
0,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,"{'userId': 1, 'rating': 4.0, 'date': 2000-07-3..."
1,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,"{'userId': 5, 'rating': 4.0, 'date': 1996-11-0..."
2,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,"{'userId': 7, 'rating': 4.5, 'date': 2005-01-2..."
3,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,"{'userId': 15, 'rating': 2.5, 'date': 2017-11-..."
4,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,"{'userId': 17, 'rating': 4.5, 'date': 2011-05-..."
...,...,...,...,...,...,...,...
102879,193581,5476944,432131.0,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017,"{'userId': 184, 'rating': 4.0, 'date': 2018-09..."
102880,193583,5914996,445030.0,No Game No Life: Zero,Animation|Comedy|Fantasy,2017,"{'userId': 184, 'rating': 3.5, 'date': 2018-09..."
102881,193585,6397426,479308.0,Flint,Drama,2017,"{'userId': 184, 'rating': 3.5, 'date': 2018-09..."
102882,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple,Action|Animation,2018,"{'userId': 184, 'rating': 3.5, 'date': 2018-09..."
102883,193609,101726,37891.0,Andrew Dice Clay: Dice Rules,Comedy,1991,"{'userId': 331, 'rating': 4.0, 'date': 2018-09..."

In [223]:
# define aggregation functions
agg_funcs = {
    'title': 'first',
    'genres': 'first',
    'year': 'first',
    'review_data': lambda x: [
        {"userId": val['userId'], "rating": val['rating'], "date": val['date'],'tag': val['tag'],'timestamp_tag': val['timestamp_tag']}
        for val in x if pd.notnull(val)
    ] or None,
    'imdbId': 'first',
    'tmdbId': 'first',
}

# group by 'movieId' and aggregate
movielens_df = movielens_df.groupby('movieId').agg(agg_funcs).reset_index()

In [224]:
movielens_df

,movieId,title,genres,year,review_data,imdbId,tmdbId
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,"[{'userId': 1, 'rating': 4.0, 'date': 2000-07-...",114709,862.0
1,2,Jumanji,Adventure|Children|Fantasy,1995,"[{'userId': 6, 'rating': 4.0, 'date': 1996-10-...",113497,8844.0
2,3,Grumpier Old Men,Comedy|Romance,1995,"[{'userId': 1, 'rating': 4.0, 'date': 2000-07-...",113228,15602.0
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995,"[{'userId': 6, 'rating': 3.0, 'date': 1996-10-...",114885,31357.0
4,5,Father of the Bride Part II,Comedy,1995,"[{'userId': 6, 'rating': 5.0, 'date': 1996-10-...",113041,11862.0
...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017,"[{'userId': 184, 'rating': 4.0, 'date': 2018-0...",5476944,432131.0
9738,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",5914996,445030.0
9739,193585,Flint,Drama,2017,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991,"[{'userId': 331, 'rating': 4.0, 'date': 2018-0...",101726,37891.0

In [225]:
# convert genres column to a dictionary
movielens_df['genres'] = movielens_df['genres'].str.split('|').apply(lambda x: {genre: genre if genre is not None else None for genre in x} if isinstance(x, list) else None)
movielens_df['genres']

0       {'Adventure': 'Adventure', 'Animation': 'Anima...
1       {'Adventure': 'Adventure', 'Children': 'Childr...
2              {'Comedy': 'Comedy', 'Romance': 'Romance'}
3       {'Comedy': 'Comedy', 'Drama': 'Drama', 'Romanc...
4                                    {'Comedy': 'Comedy'}
                              ...
9737    {'Action': 'Action', 'Animation': 'Animation',...
9738    {'Animation': 'Animation', 'Comedy': 'Comedy',...
9739                                   {'Drama': 'Drama'}
9740       {'Action': 'Action', 'Animation': 'Animation'}
9741                                 {'Comedy': 'Comedy'}
Name: genres, Length: 9742, dtype: object

In [226]:
movielens_df.isnull().sum()
movielens_df

movieId         0
title           0
genres          0
year           13
review_data     0
imdbId          0
tmdbId          8
dtype: int64

,movieId,title,genres,year,review_data,imdbId,tmdbId
0,1,Toy Story,"{'Adventure': 'Adventure', 'Animation': 'Anima...",1995,"[{'userId': 1, 'rating': 4.0, 'date': 2000-07-...",114709,862.0
1,2,Jumanji,"{'Adventure': 'Adventure', 'Children': 'Childr...",1995,"[{'userId': 6, 'rating': 4.0, 'date': 1996-10-...",113497,8844.0
2,3,Grumpier Old Men,"{'Comedy': 'Comedy', 'Romance': 'Romance'}",1995,"[{'userId': 1, 'rating': 4.0, 'date': 2000-07-...",113228,15602.0
3,4,Waiting to Exhale,"{'Comedy': 'Comedy', 'Drama': 'Drama', 'Romanc...",1995,"[{'userId': 6, 'rating': 3.0, 'date': 1996-10-...",114885,31357.0
4,5,Father of the Bride Part II,{'Comedy': 'Comedy'},1995,"[{'userId': 6, 'rating': 5.0, 'date': 1996-10-...",113041,11862.0
...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,"{'Action': 'Action', 'Animation': 'Animation',...",2017,"[{'userId': 184, 'rating': 4.0, 'date': 2018-0...",5476944,432131.0
9738,193583,No Game No Life: Zero,"{'Animation': 'Animation', 'Comedy': 'Comedy',...",2017,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",5914996,445030.0
9739,193585,Flint,{'Drama': 'Drama'},2017,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple,"{'Action': 'Action', 'Animation': 'Animation'}",2018,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules,{'Comedy': 'Comedy'},1991,"[{'userId': 331, 'rating': 4.0, 'date': 2018-0...",101726,37891.0

#### Netflix Prize dataset:

In [227]:
netflix_df['date'] = (pd.to_datetime(netflix_df['date'])).dt.date

In [228]:
# Extracting arrays directly from DataFrame
user_ids = netflix_df['userId'].values
ratings = netflix_df['rating'].values
dates = netflix_df['date'].values

data = []
current_movie_id = None

# Convert user_ids to a pandas Series to use the .str accessor
user_ids_series = pd.Series(user_ids)

# Find movieIds based on them ending with a colon, strip anything but the last index off, 
# and append the rest of the data in tuples to order everything per movieid
movie_indices = np.where(user_ids_series.str.endswith(':'))[0]
for i, idx in enumerate(movie_indices):
    if i == len(movie_indices) - 1:
        next_idx = len(netflix_df)
    else:
        next_idx = movie_indices[i+1]
    current_movie_id = user_ids[idx].split(':')[0]
    user_data = {idx: val for idx, val in enumerate(netflix_df.loc[idx+1:next_idx-1, 'userId'].tolist())}
    rating_data = {idx: val for idx, val in enumerate(netflix_df.loc[idx+1:next_idx-1, 'rating'].tolist())}
    date_data = {idx: val for idx, val in enumerate(netflix_df.loc[idx+1:next_idx-1, 'date'].tolist())}
    data.append({
        'movieId': current_movie_id,
        'userId': user_data,
        'rating': rating_data,
        'date': date_data
    })

# Create DataFrame from processed data
netflix_df = pd.DataFrame(data, columns=['movieId', 'userId', 'rating', 'date'])

Doing this the id column will be an object, needs to be integer for merging with movie titles:

In [229]:
# convert movieId to integers
netflix_df['movieId'] = netflix_df['movieId'].astype(int)

In [230]:
# merge with movietitles to add title and year
netflix_df = pd.merge(netflix_df,movie_titles_df,on='movieId',how='left')

In [231]:
# # Create a new column to store the combined dictionaries
# netflix_df['review_data'] = None

# # Iterate through the rows
# for index, row in netflix_df.iterrows():
#     combined_dict = {}
#     # Iterate through the keys in the userId column
#     for key in row['userId']:
#         combined_dict[key] = {
#             'userId': row['userId'][key],
#             'rating': row['rating'][key],
#             'date': row['date'][key]
#         }
#     netflix_df.at[index, 'review_data'] = combined_dict

# Create a new column to store the combined dictionaries
netflix_df['review_data'] = None

# Iterate through the rows
for index, row in netflix_df.iterrows():
    combined_reviews = []  # List to store combined dictionaries for each review
    # Iterate through the rows to combine userId, rating, and date
    for i in range(len(row['userId'])):
        review_dict = {}
        # Check if any of the values are not None
        if row['userId'][i] is not None or row['rating'][i] is not None or row['date'][i] is not None:
            review_dict['userId'] = row['userId'][i]
            review_dict['rating'] = row['rating'][i]
            review_dict['date'] = row['date'][i]
            combined_reviews.append(review_dict)
    
    # Set the combined reviews to the 'review_data' column
    netflix_df.at[index, 'review_data'] = combined_reviews

In [232]:
netflix_df = netflix_df.drop(['userId','rating','date'],axis=1)

In [233]:
netflix_df.isnull().sum()

movieId        0
year           0
title          0
review_data    0
dtype: int64

In [234]:
netflix_df['review_data'].iloc[1]
movielens_df['review_data'].iloc[1]

[{'userId': '2059652', 'rating': 4.0, 'date': datetime.date(2005, 9, 5)},
 {'userId': '1666394', 'rating': 3.0, 'date': datetime.date(2005, 4, 19)},
 {'userId': '1759415', 'rating': 4.0, 'date': datetime.date(2005, 4, 22)},
 {'userId': '1959936', 'rating': 5.0, 'date': datetime.date(2005, 11, 21)},
 {'userId': '998862', 'rating': 4.0, 'date': datetime.date(2004, 11, 13)},
 {'userId': '2625420', 'rating': 2.0, 'date': datetime.date(2004, 12, 6)},
 {'userId': '573975', 'rating': 3.0, 'date': datetime.date(2005, 7, 21)},
 {'userId': '392722', 'rating': 4.0, 'date': datetime.date(2004, 12, 10)},
 {'userId': '1401650', 'rating': 4.0, 'date': datetime.date(2005, 2, 24)},
 {'userId': '988104', 'rating': 3.0, 'date': datetime.date(2005, 5, 23)},
 {'userId': '977632', 'rating': 4.0, 'date': datetime.date(2004, 11, 12)},
 {'userId': '2557870', 'rating': 4.0, 'date': datetime.date(2005, 3, 27)},
 {'userId': '1793899', 'rating': 5.0, 'date': datetime.date(2005, 6, 4)},
 {'userId': '1340535', 'rating': 5.0, 'date': datetime.date(2004, 12, 12)},
 {'userId': '1888322', 'rating': 5.0, 'date': datetime.date(2005, 1, 20)},
 {'userId': '1283598', 'rating': 3.0, 'date': datetime.date(2004, 11, 30)},
 {'userId': '1784150', 'rating': 4.0, 'date': datetime.date(2005, 6, 17)},
 {'userId': '2271251', 'rating': 5.0, 'date': datetime.date(2005, 8, 19)},
 {'userId': '65932', 'rating': 3.0, 'date': datetime.date(2005, 7, 19)},
 {'userId': '1828884', 'rating': 5.0, 'date': datetime.date(2004, 12, 21)},
 {'userId': '1878728', 'rating': 4.0, 'date': datetime.date(2005, 12, 1)},
 {'userId': '1922778', 'rating': 3.0, 'date': datetime.date(2005, 2, 7)},
 {'userId': '1176404', 'rating': 4.0, 'date': datetime.date(2005, 2, 23)},
 {'userId': '2265116', 'rating': 3.0, 'date': datetime.date(2005, 9, 6)},
 {'userId': '1078701', 'rating': 4.0, 'date': datetime.date(2005, 10, 12)},
 {'userId': '1832577', 'rating': 4.0, 'date': datetime.date(2005, 9, 7)},
 {'userId': '748922', 'rating': 5.0, 'date': datetime.date(2005, 7, 5)},
 {'userId': '1013802', 'rating': 1.0, 'date': datetime.date(2005, 5, 30)},
 {'userId': '1131325', 'rating': 2.0, 'date': datetime.date(2005, 11, 14)},
 {'userId': '2244378', 'rating': 4.0, 'date': datetime.date(2005, 2, 9)},
 {'userId': '494639', 'rating': 2.0, 'date': datetime.date(2005, 9, 26)},
 {'userId': '636262', 'rating': 1.0, 'date': datetime.date(2005, 8, 23)},
 {'userId': '1903158', 'rating': 4.0, 'date': datetime.date(2005, 3, 4)},
 {'userId': '220427', 'rating': 4.0, 'date': datetime.date(2005, 5, 5)},
 {'userId': '2439493', 'rating': 1.0, 'date': datetime.date(2005, 2, 10)},
 {'userId': '2225116', 'rating': 4.0, 'date': datetime.date(2005, 8, 29)},
 {'userId': '1445632', 'rating': 5.0, 'date': datetime.date(2005, 1, 30)},
 {'userId': '2592823', 'rating': 4.0, 'date': datetime.date(2005, 2, 6)},
 {'userId': '1288603', 'rating': 5.0, 'date': datetime.date(2005, 6, 20)},
 {'userId': '2556926', 'rating': 3.0, 'date': datetime.date(2005, 7, 9)},
 {'userId': '1190070', 'rating': 4.0, 'date': datetime.date(2005, 11, 5)},
 {'userId': '1312846', 'rating': 3.0, 'date': datetime.date(2005, 8, 26)},
 {'userId': '2226229', 'rating': 3.0, 'date': datetime.date(2005, 4, 24)},
 {'userId': '1563935', 'rating': 1.0, 'date': datetime.date(2005, 8, 12)},
 {'userId': '69809', 'rating': 5.0, 'date': datetime.date(2005, 4, 8)},
 {'userId': '1349753', 'rating': 3.0, 'date': datetime.date(2005, 3, 23)},
 {'userId': '785768', 'rating': 3.0, 'date': datetime.date(2005, 4, 19)},
 {'userId': '426476', 'rating': 5.0, 'date': datetime.date(2005, 5, 10)},
 {'userId': '810636', 'rating': 4.0, 'date': datetime.date(2005, 4, 25)},
 {'userId': '468713', 'rating': 5.0, 'date': datetime.date(2005, 7, 18)},
 {'userId': '222290', 'rating': 4.0, 'date': datetime.date(2005, 3, 14)},
 {'userId': '349407', 'rating': 5.0, 'date': datetime.date(2005, 1, 2)},
 {'userId': '311232', 'rating': 2.0, 'date': datetime.date(2005, 6, 28)},
 {'userId': '2596999', 'rating': 4.0, 'date': datetime.date(2005, 10, 7)},
 {'userId': '1025601', 'rating': 5.0, 'date': datetime.date(2005, 11, 9)},
 {'userId': '1743759', 'rating': 4.0, 'date': datetime.date(2005, 1, 30)},
 {'userId': '2385553', 'rating': 5.0, 'date': datetime.date(2005, 5, 24)},
 {'userId': '1374216', 'rating': 1.0, 'date': datetime.date(2005, 9, 25)},
 {'userId': '526466', 'rating': 4.0, 'date': datetime.date(2005, 3, 5)},
 {'userId': '2648861', 'rating': 3.0, 'date': datetime.date(2005, 5, 25)},
 {'userId': '1210631', 'rating': 3.0, 'date': datetime.date(2005, 3, 24)},
 {'userId': '2314531', 'rating': 4.0, 'date': datetime.date(2005, 7, 15)},
 {'userId': '618272', 'rating': 1.0, 'date': datetime.date(2005, 8, 14)},
 {'userId': '2532807', 'rating': 3.0, 'date': datetime.date(2005, 1, 28)},
 {'userId': '412535', 'rating': 4.0, 'date': datetime.date(2005, 5, 23)},
 {'userId': '1315005', 'rating': 4.0, 'date': datetime.date(2005, 6, 28)},
 {'userId': '1358911', 'rating': 5.0, 'date': datetime.date(2005, 12, 13)},
 {'userId': '507603', 'rating': 1.0, 'date': datetime.date(2005, 7, 23)},
 {'userId': '1507649', 'rating': 5.0, 'date': datetime.date(2005, 2, 17)},
 {'userId': '845529', 'rating': 5.0, 'date': datetime.date(2005, 4, 26)},
 {'userId': '1479907', 'rating': 5.0, 'date': datetime.date(2005, 2, 28)},
 {'userId': '236271', 'rating': 2.0, 'date': datetime.date(2005, 6, 21)},
 {'userId': '2422676', 'rating': 3.0, 'date': datetime.date(2005, 4, 7)},
 {'userId': '1636093', 'rating': 5.0, 'date': datetime.date(2005, 10, 20)},
 {'userId': '995594', 'rating': 5.0, 'date': datetime.date(2005, 1, 19)},
 {'userId': '1664010', 'rating': 4.0, 'date': datetime.date(2005, 10, 13)},
 {'userId': '2431481', 'rating': 3.0, 'date': datetime.date(2004, 11, 18)},
 {'userId': '1980668', 'rating': 5.0, 'date': datetime.date(2004, 12, 16)},
 {'userId': '402321', 'rating': 4.0, 'date': datetime.date(2005, 4, 18)},
 {'userId': '1344564', 'rating': 3.0, 'date': datetime.date(2005, 1, 25)},
 {'userId': '1632603', 'rating': 3.0, 'date': datetime.date(2005, 9, 9)},
 {'userId': '2567280', 'rating': 3.0, 'date': datetime.date(2005, 3, 17)},
 {'userId': '1623166', 'rating': 3.0, 'date': datetime.date(2005, 2, 10)},
 {'userId': '521932', 'rating': 4.0, 'date': datetime.date(2005, 1, 11)},
 {'userId': '105086', 'rating': 5.0, 'date': datetime.date(2005, 9, 20)},
 {'userId': '2072554', 'rating': 5.0, 'date': datetime.date(2005, 5, 5)},
 {'userId': '2231529', 'rating': 3.0, 'date': datetime.date(2005, 8, 25)},
 {'userId': '2103439', 'rating': 2.0, 'date': datetime.date(2005, 6, 5)},
 {'userId': '261764', 'rating': 1.0, 'date': datetime.date(2005, 11, 10)},
 {'userId': '193476', 'rating': 5.0, 'date': datetime.date(2005, 3, 23)},
 {'userId': '1576540', 'rating': 4.0, 'date': datetime.date(2005, 4, 14)},
 {'userId': '1783594', 'rating': 5.0, 'date': datetime.date(2005, 3, 7)},
 {'userId': '503334', 'rating': 4.0, 'date': datetime.date(2005, 11, 25)},
 {'userId': '183903', 'rating': 5.0, 'date': datetime.date(2005, 1, 30)},
 {'userId': '2606799', 'rating': 1.0, 'date': datetime.date(2005, 5, 16)},
 {'userId': '1236127', 'rating': 4.0, 'date': datetime.date(2005, 6, 7)},
 {'userId': '2375962', 'rating': 3.0, 'date': datetime.date(2005, 7, 4)},
 {'userId': '2212071', 'rating': 3.0, 'date': datetime.date(2005, 9, 17)},
 {'userId': '1252841', 'rating': 3.0, 'date': datetime.date(2005, 2, 6)},
 {'userId': '247898', 'rating': 5.0, 'date': datetime.date(2005, 7, 15)},
 {'userId': '970975', 'rating': 3.0, 'date': datetime.date(2005, 9, 2)},
 {'userId': '305344', 'rating': 1.0, 'date': datetime.date(2004, 10, 16)},
 {'userId': '1581186', 'rating': 4.0, 'date': datetime.date(2005, 2, 27)},
 {'userId': '1129620', 'rating': 3.0, 'date': datetime.date(2005, 9, 3)},
 {'userId': '584750', 'rating': 3.0, 'date': datetime.date(2005, 11, 27)},
 {'userId': '11409', 'rating': 5.0, 'date': datetime.date(2005, 1, 13)},
 {'userId': '1875495', 'rating': 2.0, 'date': datetime.date(2005, 1, 12)},
 {'userId': '1403217', 'rating': 2.0, 'date': datetime.date(2005, 8, 17)},
 {'userId': '2147527', 'rating': 1.0, 'date': datetime.date(2005, 11, 18)},
 {'userId': '2418486', 'rating': 4.0, 'date': datetime.date(2005, 11, 8)},
 {'userId': '1476323', 'rating': 5.0, 'date': datetime.date(2004, 11, 22)},
 {'userId': '2345723', 'rating': 4.0, 'date': datetime.date(2004, 12, 26)},
 {'userId': '2640085', 'rating': 5.0, 'date': datetime.date(2005, 4, 26)},
 {'userId': '1803154', 'rating': 2.0, 'date': datetime.date(2004, 12, 14)},
 {'userId': '1251170', 'rating': 2.0, 'date': datetime.date(2005, 2, 11)},
 {'userId': '527491', 'rating': 4.0, 'date': datetime.date(2005, 7, 30)},
 {'userId': '391517', 'rating': 4.0, 'date': datetime.date(2005, 5, 16)},
 {'userId': '1398626', 'rating': 3.0, 'date': datetime.date(2005, 11, 26)},
 {'userId': '828919', 'rating': 5.0, 'date': datetime.date(2004, 12, 18)},
 {'userId': '196494', 'rating': 5.0, 'date': datetime.date(2005, 10, 3)},
 {'userId': '715897', 'rating': 5.0, 'date': datetime.date(2005, 10, 18)},
 {'userId': '268917', 'rating': 2.0, 'date': datetime.date(2005, 6, 3)},
 {'userId': '41422', 'rating': 4.0, 'date': datetime.date(2005, 9, 11)},
 {'userId': '1806515', 'rating': 3.0, 'date': datetime.date(2005, 9, 23)},
 {'userId': '2118461', 'rating': 4.0, 'date': datetime.date(2005, 12, 20)},
 {'userId': '387418', 'rating': 1.0, 'date': datetime.date(2004, 11, 19)},
 {'userId': '2019055', 'rating': 5.0, 'date': datetime.date(2005, 5, 12)},
 {'userId': '348960', 'rating': 1.0, 'date': datetime.date(2005, 9, 7)},
 {'userId': '1167731', 'rating': 4.0, 'date': datetime.date(2005, 6, 7)},
 {'userId': '2468831', 'rating': 5.0, 'date': datetime.date(2005, 7, 5)},
 {'userId': '219925', 'rating': 4.0, 'date': datetime.date(2005, 4, 18)},
 {'userId': '1025193', 'rating': 5.0, 'date': datetime.date(2005, 7, 7)},
 {'userId': '630887', 'rating': 5.0, 'date': datetime.date(2005, 1, 20)},
 {'userId': '1461435', 'rating': 1.0, 'date': datetime.date(2005, 3, 21)},
 {'userId': '1838586', 'rating': 1.0, 'date': datetime.date(2005, 8, 17)},
 {'userId': '1515430', 'rating': 3.0, 'date': datetime.date(2005, 1, 27)},
 {'userId': '1807053', 'rating': 5.0, 'date': datetime.date(2005, 4, 25)},
 {'userId': '1172326', 'rating': 5.0, 'date': datetime.date(2005, 6, 18)},
 {'userId': '1785842', 'rating': 3.0, 'date': datetime.date(2005, 6, 1)},
 {'userId': '803752', 'rating': 3.0, 'date': datetime.date(2004, 11, 17)},
 {'userId': '1581265', 'rating': 3.0, 'date': datetime.date(2005, 4, 15)},
 {'userId': '515436', 'rating': 1.0, 'date': datetime.date(2005, 2, 13)},
 {'userId': '1824543', 'rating': 4.0, 'date': datetime.date(2005, 4, 20)},
 {'userId': '1283204', 'rating': 3.0, 'date': datetime.date(2004, 12, 23)},
 {'userId': '1272122', 'rating': 5.0, 'date': datetime.date(2005, 7, 25)}]

[{'userId': 6,
  'rating': 4.0,
  'date': datetime.date(1996, 10, 17),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 8,
  'rating': 4.0,
  'date': datetime.date(1996, 8, 8),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 18,
  'rating': 3.0,
  'date': datetime.date(2016, 2, 16),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 19,
  'rating': 3.0,
  'date': datetime.date(2000, 8, 8),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 20,
  'rating': 3.0,
  'date': datetime.date(2003, 5, 27),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 21,
  'rating': 3.5,
  'date': datetime.date(2014, 12, 28),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 27,
  'rating': 4.0,
  'date': datetime.date(2000, 7, 4),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 51,
  'rating': 4.5,
  'date': datetime.date(2009, 1, 2),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 62,
  'rating': 4.0,
  'date': datetime.date(2018, 6, 12),
  'tag': 'fantasy',
  'timestamp_tag': datetime.date(2018, 6, 12)},
 {'userId': 62,
  'rating': 4.0,
  'date': datetime.date(2018, 6, 12),
  'tag': 'magic board game',
  'timestamp_tag': datetime.date(2018, 6, 12)},
 {'userId': 62,
  'rating': 4.0,
  'date': datetime.date(2018, 6, 12),
  'tag': 'Robin Williams',
  'timestamp_tag': datetime.date(2018, 6, 12)},
 {'userId': 68,
  'rating': 2.5,
  'date': datetime.date(2006, 9, 17),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 82,
  'rating': 3.0,
  'date': datetime.date(2004, 5, 13),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 91,
  'rating': 3.0,
  'date': datetime.date(2005, 4, 5),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 93,
  'rating': 5.0,
  'date': datetime.date(1999, 11, 18),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 94,
  'rating': 4.0,
  'date': datetime.date(1996, 9, 22),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 103,
  'rating': 4.0,
  'date': datetime.date(2015, 5, 18),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 104,
  'rating': 3.0,
  'date': datetime.date(2005, 4, 29),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 107,
  'rating': 5.0,
  'date': datetime.date(1996, 4, 12),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 112,
  'rating': 1.5,
  'date': datetime.date(2017, 12, 23),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 117,
  'rating': 3.0,
  'date': datetime.date(1996, 10, 1),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 122,
  'rating': 4.0,
  'date': datetime.date(2016, 4, 25),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 125,
  'rating': 4.0,
  'date': datetime.date(2016, 9, 19),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 135,
  'rating': 3.0,
  'date': datetime.date(2001, 12, 30),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 140,
  'rating': 3.5,
  'date': datetime.date(2004, 5, 26),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 144,
  'rating': 3.0,
  'date': datetime.date(2006, 1, 15),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 149,
  'rating': 1.0,
  'date': datetime.date(1998, 8, 2),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 153,
  'rating': 2.0,
  'date': datetime.date(2018, 5, 5),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 160,
  'rating': 4.0,
  'date': datetime.date(2000, 10, 15),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 169,
  'rating': 4.0,
  'date': datetime.date(2004, 3, 3),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 177,
  'rating': 3.5,
  'date': datetime.date(2015, 6, 28),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 186,
  'rating': 4.0,
  'date': datetime.date(2002, 9, 3),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 202,
  'rating': 4.0,
  'date': datetime.date(2000, 11, 22),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 217,
  'rating': 2.0,
  'date': datetime.date(2000, 4, 17),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 219,
  'rating': 2.5,
  'date': datetime.date(2007, 11, 11),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 221,
  'rating': 3.5,
  'date': datetime.date(2005, 3, 18),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 222,
  'rating': 2.5,
  'date': datetime.date(2014, 2, 2),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 226,
  'rating': 3.0,
  'date': datetime.date(2004, 9, 20),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 230,
  'rating': 2.5,
  'date': datetime.date(2007, 11, 29),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 232,
  'rating': 4.0,
  'date': datetime.date(2004, 5, 23),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 240,
  'rating': 5.0,
  'date': datetime.date(1996, 11, 27),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 249,
  'rating': 4.0,
  'date': datetime.date(2012, 11, 24),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 259,
  'rating': 2.0,
  'date': datetime.date(2006, 5, 5),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 274,
  'rating': 3.5,
  'date': datetime.date(2007, 2, 20),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 276,
  'rating': 4.0,
  'date': datetime.date(1997, 3, 14),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 284,
  'rating': 4.0,
  'date': datetime.date(1996, 5, 21),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 288,
  'rating': 2.0,
  'date': datetime.date(2001, 1, 2),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 294,
  'rating': 3.0,
  'date': datetime.date(2000, 8, 18),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 298,
  'rating': 0.5,
  'date': datetime.date(2015, 12, 18),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 299,
  'rating': 3.0,
  'date': datetime.date(2000, 11, 19),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 304,
  'rating': 4.0,
  'date': datetime.date(1998, 3, 29),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 305,
  'rating': 3.5,
  'date': datetime.date(2016, 4, 8),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 307,
  'rating': 2.5,
  'date': datetime.date(2007, 8, 3),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 308,
  'rating': 3.0,
  'date': datetime.date(2015, 1, 16),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 318,
  'rating': 3.5,
  'date': datetime.date(2010, 4, 8),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 321,
  'rating': 5.0,
  'date': datetime.date(1996, 9, 20),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 322,
  'rating': 3.0,
  'date': datetime.date(2008, 8, 2),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 323,
  'rating': 4.0,
  'date': datetime.date(2015, 1, 30),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 330,
  'rating': 1.5,
  'date': datetime.date(2010, 10, 1),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 347,
  'rating': 3.0,
  'date': datetime.date(1996, 11, 10),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 353,
  'rating': 4.0,
  'date': datetime.date(1996, 5, 12),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 357,
  'rating': 3.0,
  'date': datetime.date(2012, 9, 25),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 359,
  'rating': 3.5,
  'date': datetime.date(2007, 12, 20),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 373,
  'rating': 3.0,
  'date': datetime.date(1996, 11, 1),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 380,
  'rating': 5.0,
  'date': datetime.date(2017, 4, 28),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 381,
  'rating': 4.0,
  'date': datetime.date(2006, 12, 24),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 395,
  'rating': 3.0,
  'date': datetime.date(1996, 8, 31),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 411,
  'rating': 4.0,
  'date': datetime.date(1996, 6, 23),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 414,
  'rating': 3.0,
  'date': datetime.date(2000, 6, 21),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 425,
  'rating': 3.0,
  'date': datetime.date(2004, 5, 25),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 426,
  'rating': 4.5,
  'date': datetime.date(2015, 12, 25),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 432,
  'rating': 4.0,
  'date': datetime.date(2011, 9, 19),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 434,
  'rating': 2.5,
  'date': datetime.date(2010, 4, 12),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 436,
  'rating': 4.0,
  'date': datetime.date(1996, 5, 31),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 446,
  'rating': 3.0,
  'date': datetime.date(1996, 9, 27),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 447,
  'rating': 5.0,
  'date': datetime.date(1996, 7, 10),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 448,
  'rating': 3.0,
  'date': datetime.date(2002, 4, 18),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 458,
  'rating': 4.0,
  'date': datetime.date(1996, 10, 18),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 470,
  'rating': 3.0,
  'date': datetime.date(1996, 11, 28),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 474,
  'rating': 3.0,
  'date': datetime.date(2003, 3, 5),
  'tag': 'game',
  'timestamp_tag': datetime.date(2006, 1, 16)},
 {'userId': 475,
  'rating': 4.5,
  'date': datetime.date(2017, 6, 21),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 476,
  'rating': 4.0,
  'date': datetime.date(1996, 6, 17),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 477,
  'rating': 4.0,
  'date': datetime.date(2008, 1, 21),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 480,
  'rating': 3.0,
  'date': datetime.date(2007, 5, 14),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 482,
  'rating': 4.5,
  'date': datetime.date(2005, 1, 10),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 483,
  'rating': 4.0,
  'date': datetime.date(2007, 5, 4),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 484,
  'rating': 2.5,
  'date': datetime.date(2012, 7, 14),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 489,
  'rating': 2.5,
  'date': datetime.date(2012, 3, 30),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 497,
  'rating': 2.5,
  'date': datetime.date(2015, 4, 15),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 501,
  'rating': 3.0,
  'date': datetime.date(1996, 10, 10),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 512,
  'rating': 3.0,
  'date': datetime.date(1996, 8, 31),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 517,
  'rating': 3.0,
  'date': datetime.date(2017, 2, 24),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 523,
  'rating': 4.5,
  'date': datetime.date(2017, 8, 19),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 525,
  'rating': 3.5,
  'date': datetime.date(2016, 10, 14),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 527,
  'rating': 4.0,
  'date': datetime.date(2002, 9, 28),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 534,
  'rating': 4.5,
  'date': datetime.date(2016, 4, 4),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 559,
  'rating': 4.0,
  'date': datetime.date(1996, 10, 16),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 561,
  'rating': 4.0,
  'date': datetime.date(2017, 4, 2),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 563,
  'rating': 2.5,
  'date': datetime.date(2015, 11, 10),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 566,
  'rating': 4.0,
  'date': datetime.date(1996, 11, 26),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 570,
  'rating': 3.5,
  'date': datetime.date(2007, 6, 10),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 573,
  'rating': 4.5,
  'date': datetime.date(2007, 8, 13),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 586,
  'rating': 4.0,
  'date': datetime.date(2018, 6, 25),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 590,
  'rating': 2.5,
  'date': datetime.date(2009, 11, 17),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 592,
  'rating': 4.0,
  'date': datetime.date(1996, 7, 14),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 594,
  'rating': 4.0,
  'date': datetime.date(2005, 2, 22),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 599,
  'rating': 2.5,
  'date': datetime.date(2017, 6, 26),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 600,
  'rating': 4.0,
  'date': datetime.date(2009, 3, 22),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 602,
  'rating': 4.0,
  'date': datetime.date(1996, 8, 24),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 604,
  'rating': 5.0,
  'date': datetime.date(1996, 5, 14),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 605,
  'rating': 3.5,
  'date': datetime.date(2010, 6, 22),
  'tag': None,
  'timestamp_tag': None},
 {'userId': 608,
  'rating': 2.0,
  'date': datetime.date(2005, 5, 30),
  'tag': None,
  'timestamp_tag': None}]

Dicitionaries look the same after creating so they can be concatenated

## Finalizing and converting to parquet:

To convert to parquet the keys of the dictionaries need to be converted to strings, otherwise the conversion to parquet does not work. Afterwards to Netflix and Movielens dataframes will be converted to parquet files.

In [235]:
netflix_df.columns
movielens_df.columns
netflix_df
movielens_df

Index(['movieId', 'year', 'title', 'review_data'], dtype='object')

Index(['movieId', 'title', 'genres', 'year', 'review_data', 'imdbId',
       'tmdbId'],
      dtype='object')

,movieId,year,title,review_data
0,1,2003,Dinosaur Planet,"[{'userId': '1488844', 'rating': 3.0, 'date': ..."
1,2,2004,Isle of Man TT 2004 Review,"[{'userId': '2059652', 'rating': 4.0, 'date': ..."
2,3,1997,Character,"[{'userId': '1025579', 'rating': 4.0, 'date': ..."
3,4,1994,Paula Abdul's Get Up & Dance,"[{'userId': '1065039', 'rating': 3.0, 'date': ..."
4,5,2004,The Rise and Fall of ECW,"[{'userId': '1745265', 'rating': 5.0, 'date': ..."
...,...,...,...,...
768,13508,1999,The League of Gentlemen: Series 1,"[{'userId': '577397', 'rating': 2.0, 'date': 2..."
769,13509,1998,Little City,"[{'userId': '998229', 'rating': 3.0, 'date': 2..."
770,13510,1959,Last Train from Gun Hill,"[{'userId': '779760', 'rating': 3.0, 'date': 2..."
771,13511,1993,Much Ado About Nothing,"[{'userId': '1392773', 'rating': 4.0, 'date': ..."
772,13512,1963,The Pink Panther,"[{'userId': '1392773', 'rating': 4.0, 'date': ..."

,movieId,title,genres,year,review_data,imdbId,tmdbId
0,1,Toy Story,"{'Adventure': 'Adventure', 'Animation': 'Anima...",1995,"[{'userId': 1, 'rating': 4.0, 'date': 2000-07-...",114709,862.0
1,2,Jumanji,"{'Adventure': 'Adventure', 'Children': 'Childr...",1995,"[{'userId': 6, 'rating': 4.0, 'date': 1996-10-...",113497,8844.0
2,3,Grumpier Old Men,"{'Comedy': 'Comedy', 'Romance': 'Romance'}",1995,"[{'userId': 1, 'rating': 4.0, 'date': 2000-07-...",113228,15602.0
3,4,Waiting to Exhale,"{'Comedy': 'Comedy', 'Drama': 'Drama', 'Romanc...",1995,"[{'userId': 6, 'rating': 3.0, 'date': 1996-10-...",114885,31357.0
4,5,Father of the Bride Part II,{'Comedy': 'Comedy'},1995,"[{'userId': 6, 'rating': 5.0, 'date': 1996-10-...",113041,11862.0
...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,"{'Action': 'Action', 'Animation': 'Animation',...",2017,"[{'userId': 184, 'rating': 4.0, 'date': 2018-0...",5476944,432131.0
9738,193583,No Game No Life: Zero,"{'Animation': 'Animation', 'Comedy': 'Comedy',...",2017,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",5914996,445030.0
9739,193585,Flint,{'Drama': 'Drama'},2017,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple,"{'Action': 'Action', 'Animation': 'Animation'}",2018,"[{'userId': 184, 'rating': 3.5, 'date': 2018-0...",8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules,{'Comedy': 'Comedy'},1991,"[{'userId': 331, 'rating': 4.0, 'date': 2018-0...",101726,37891.0

In [236]:
# convert to parquet
netflix_df.to_parquet('cleaned/netflix_parquet')
movielens_df.to_parquet('cleaned/movielens_parquet')

In [ ]:
# netflix_movielens_df = pd.concat([netflix_df,movielens_df],ignore_index=True)

# # show to check afterwards if the indices are not replaced after concatenated dictionaries
# netflix_movielens_df[netflix_movielens_df['movieId']==1]

In [ ]:
# def agg_concat_dicts_np(series):
#     # Convert series of dictionaries to a list of dictionaries
#     list_of_dicts = list(series)
#     # Merge dictionaries
#     merged_dict = {}
#     key_counter = 0
#     for d in list_of_dicts:
#         if d is not None:
#             for value in d.values():
#                 merged_dict[str(key_counter)] = value
#                 key_counter += 1
#     return merged_dict

# # group by 'movieId' and aggregate using the custom function
# recsys_df = netflix_movielens_df.groupby('movieId').agg({
#     'title' : 'first',
#     'year' : 'first',
#     'genres' : 'first',
#     'imdbId' : 'max',
#     'tmdbId' : 'max',
#     'review_data': agg_concat_dicts_np,
# }).reset_index()

In [ ]:
# recsys_df.isnull().sum()
# recsys_df

In [ ]:
# # convert integer keys into strings in the columns with dictionaries
# recsys_df['genres'] = recsys_df['genres'].apply(lambda x: {str(k): v for k, v in x.items()} if isinstance(x, dict) else {})
# recsys_df['review_data'] = recsys_df['review_data'].apply(lambda x: {str(k): str(v) for k, v in x.items()} if isinstance(x, dict) else {})

In [ ]:
# # convert to parquet
# recsys_df.to_parquet('cleaned/netflix_movielens_cleaned_parquet')