# Merging the dataset

In [12]:
# We import the needed libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [24]:
# We print the directory we are in
print(os.getcwd())

# We move to the parquets directory
os.listdir(os.path.join(os.getcwd()))

c:\Users\Jaume\Documents\MDDB\SDM\SDfM---Jaume-and-Stijn\parquets

['movies_df', 'movie_title_df', 'netflix_df', 'users_df']

In [34]:
# create dfs from parquet files
NF_reviews = pd.read_parquet('netflix_df')
NF_movies = pd.read_parquet('movie_title_df')
ML_reviews = pd.read_parquet('users_df')
ML_movies = pd.read_parquet('movies_df')

In [31]:
# We print the first 5 rows of the NF_reviews dataframe
print(NF_reviews.head())

   MovieID  Rating        Date
0       1:     NaN        None
1  1488844     3.0  2005-09-06
2   822109     5.0  2005-05-13
3   885013     4.0  2005-10-19
4    30878     4.0  2005-12-26

In [35]:
# We print the first 5 rows of the NF_movies dataframe
print(NF_movies.head())

  movieId  year                         title
0       1  2003               Dinosaur Planet
1       2  2004    Isle of Man TT 2004 Review
2       3  1997                     Character
3       4  1994  Paula Abdul's Get Up & Dance
4       5  2004      The Rise and Fall of ECW

In [36]:
# We print the first 5 rows of the ML_reviews dataframe
print(ML_reviews.head())

   userId  movieId  rating         timestamp_x   tag timestamp_y
0       1      296     5.0 2006-05-17 15:34:04  None         NaT
1       1      306     3.5 2006-05-17 12:26:57  None         NaT
2       1      307     5.0 2006-05-17 12:27:08  None         NaT
3       1      665     5.0 2006-05-17 15:13:40  None         NaT
4       1      899     3.5 2006-05-17 12:21:50  None         NaT

In [37]:
# We print the first 5 rows of the ML_movies dataframe
print(ML_movies.head())

   movieId  imdbId   tmdbId                         title  (no genres listed)  \
0        1  114709    862.0                    Toy Story                    0
1        2  113497   8844.0                      Jumanji                    0
2        3  113228  15602.0             Grumpier Old Men                    0
3        4  114885  31357.0            Waiting to Exhale                    0
4        5  113041  11862.0  Father of the Bride Part II                    0

   Action  Adventure  Animation  Children  Comedy  ...  Horror  IMAX  Musical  \
0       0          1          1         1       1  ...       0     0        0
1       0          1          0         1       0  ...       0     0        0
2       0          0          0         0       1  ...       0     0        0
3       0          0          0         0       1  ...       0     0        0
4       0          0          0         0       1  ...       0     0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western  rel_year
0        0        0       0         0    0        0      1995
1        0        0       0         0    0        0      1995
2        0        1       0         0    0        0      1995
3        0        1       0         0    0        0      1995
4        0        0       0         0    0        0      1995

[5 rows x 25 columns]

### Merging the reviews with the movies

In [ ]:
# Now we will merge the movies ML with the reviews ML