# Merging the dataset

In [1]:
# We import the needed libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
import os

# Get the current working directory
current_directory = os.getcwd()

# Print the directory we are in
print(current_directory)

# We move into the parquets folder
os.chdir('parquets')

c:\Users\Jaume\Documents\MDDB\SDM\SDfM---Jaume-and-Stijn

In [3]:
# create dfs from parquet files
NF_reviews = pd.read_parquet('netflix_df')
NF_movies = pd.read_parquet('movie_title_df')
ML_reviews = pd.read_parquet('users_df')
ML_movies = pd.read_parquet('movies_df')

In [4]:
# We print the first 5 rows of the NF_reviews dataframe
print(NF_reviews.head())

   MovieID  Rating        Date
0       1:     NaN        None
1  1488844     3.0  2005-09-06
2   822109     5.0  2005-05-13
3   885013     4.0  2005-10-19
4    30878     4.0  2005-12-26

In [5]:
# We print the first 5 rows of the NF_movies dataframe
print(NF_movies.head())

  movieId  year                         title
0       1  2003               Dinosaur Planet
1       2  2004    Isle of Man TT 2004 Review
2       3  1997                     Character
3       4  1994  Paula Abdul's Get Up & Dance
4       5  2004      The Rise and Fall of ECW

In [6]:
# We print the first 5 rows of the ML_reviews dataframe
print(ML_reviews.head())

   userId  movieId  rating         timestamp_x   tag timestamp_y
0       1        1     4.0 2000-07-30 18:45:03  None         NaT
1       1        3     4.0 2000-07-30 18:20:47  None         NaT
2       1        6     4.0 2000-07-30 18:37:04  None         NaT
3       1       47     5.0 2000-07-30 19:03:35  None         NaT
4       1       50     5.0 2000-07-30 18:48:51  None         NaT

In [7]:
# We print the first 5 rows of the ML_movies dataframe
print(ML_movies.head())

   movieId  imdbId   tmdbId                         title  (no genres listed)  \
0        1  114709    862.0                    Toy Story                    0
1        2  113497   8844.0                      Jumanji                    0
2        3  113228  15602.0             Grumpier Old Men                    0
3        4  114885  31357.0            Waiting to Exhale                    0
4        5  113041  11862.0  Father of the Bride Part II                    0

   Action  Adventure  Animation  Children  Comedy  ...  Horror  IMAX  Musical  \
0       0          1          1         1       1  ...       0     0        0
1       0          1          0         1       0  ...       0     0        0
2       0          0          0         0       1  ...       0     0        0
3       0          0          0         0       1  ...       0     0        0
4       0          0          0         0       1  ...       0     0        0

   Mystery  Romance  Sci-Fi  Thriller  War  Western  rel_year
0        0        0       0         0    0        0      1995
1        0        0       0         0    0        0      1995
2        0        1       0         0    0        0      1995
3        0        1       0         0    0        0      1995
4        0        0       0         0    0        0      1995

[5 rows x 25 columns]

### Merging the reviews with the movies

In [8]:
# Now we will merge the movies ML with the reviews ML
ML = pd.merge(ML_reviews, ML_movies, on='movieId', how='outer')

In [9]:
ML

,userId,movieId,rating,timestamp_x,tag,timestamp_y,imdbId,tmdbId,title,(no genres listed),...,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,rel_year
0,1,1,4.0,2000-07-30 18:45:03,None,NaT,114709,862.0,Toy Story,0,...,0,0,0,0,0,0,0,0,0,1995
1,5,1,4.0,1996-11-08 06:36:02,None,NaT,114709,862.0,Toy Story,0,...,0,0,0,0,0,0,0,0,0,1995
2,7,1,4.5,2005-01-25 06:52:26,None,NaT,114709,862.0,Toy Story,0,...,0,0,0,0,0,0,0,0,0,1995
3,15,1,2.5,2017-11-13 12:59:30,None,NaT,114709,862.0,Toy Story,0,...,0,0,0,0,0,0,0,0,0,1995
4,17,1,4.5,2011-05-18 05:28:03,None,NaT,114709,862.0,Toy Story,0,...,0,0,0,0,0,0,0,0,0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102879,184,193581,4.0,2018-09-16 14:44:42,None,NaT,5476944,432131.0,Black Butler: Book of the Atlantic,0,...,0,0,0,0,0,0,0,0,0,2017
102880,184,193583,3.5,2018-09-16 14:52:25,None,NaT,5914996,445030.0,No Game No Life: Zero,0,...,0,0,0,0,0,0,0,0,0,2017
102881,184,193585,3.5,2018-09-16 14:56:45,None,NaT,6397426,479308.0,Flint,0,...,0,0,0,0,0,0,0,0,0,2017
102882,184,193587,3.5,2018-09-16 15:00:21,None,NaT,8391976,483455.0,Bungo Stray Dogs: Dead Apple,0,...,0,0,0,0,0,0,0,0,0,2018
102883,331,193609,4.0,2018-09-17 04:13:26,None,NaT,101726,37891.0,Andrew Dice Clay: Dice Rules,0,...,0,0,0,0,0,0,0,0,0,1991

We also merge the NF files. For the netflix file, we have the movie ID in the NF_reviews df in the movieID column and in that column every cell that contains ':' has the id of the movie. We will extract the id of the movie.

In [10]:
# We check the size of the NF_reviews array
print(NF_reviews.shape)

(4000000, 3)

In [11]:
# First of all we want to rename the 'MovieID' column into 'UserID' of the dataframe NF_reviews
NF_reviews = NF_reviews.rename(columns={'MovieID': 'UserID'})

In [12]:
# We print the names of the columns
print(NF_reviews.columns)

Index(['UserID', 'Rating', 'Date'], dtype='object')

In [13]:
import numpy as np

# We create an empty column called 'MovieID' in the dataframe NF_reviews
NF_reviews['MovieID'] = np.nan

# Iterate through the rows of the UserID column
for index, row in NF_reviews.iterrows():
    # Check if the current UserID contains ':'
    if ':' in str(row['UserID']):
        # Split the UserID by ':' and take the first part as MovieID
        newMovie = row['UserID'].split(':')[0]
        # Assign the MovieID to the 'MovieID' column for this row
        NF_reviews.at[index, 'MovieID'] = newMovie
    else:
        # If ':' is not present, copy the previous MovieID value
        NF_reviews.at[index, 'MovieID'] = NF_reviews.at[index - 1, 'MovieID']

# Remove rows where ':' is present in UserID
NF_reviews = NF_reviews[~NF_reviews['UserID'].str.contains(':')]

C:\Users\Jaume\AppData\Local\Temp\ipykernel_14048\1408134976.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  NF_reviews.at[index, 'MovieID'] = newMovie

In [14]:
NF_reviews

          UserID  Rating        Date MovieID
1        1488844     3.0  2005-09-06       1
2         822109     5.0  2005-05-13       1
3         885013     4.0  2005-10-19       1
4          30878     4.0  2005-12-26       1
5         823519     3.0  2004-05-03       1
...          ...     ...         ...     ...
3999995   609161     2.0  2005-05-06   13512
3999996  2024230     3.0  2005-05-07   13512
3999997   243989     4.0  2005-05-17   13512
3999998  1412520     5.0  2005-05-20   13512
3999999  1592922     5.0  2005-05-22   13512

[3999227 rows x 4 columns]