In [2]:
import pyarrow.parquet as pq
import pandas as pd
import os
import numpy as np

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # to make jupyter print all outputs, not just the last one
from IPython.core.display import HTML # to pretty print pandas df and be able to copy them over (e.g. to ppt slides)

In [4]:
os.listdir(os.path.join('.', 'parquets'))

['movies_df', 'movie_title_df', 'netflix_df', 'users_df']

In [5]:
# create dfs from parquet files
netflix_df = pd.read_parquet('parquets/netflix_df')
movie_titles_df = pd.read_parquet('parquets/movie_title_df')
movies_df = pd.read_parquet('parquets/movies_df')
users_df = pd.read_parquet('parquets/users_df')

In [6]:
# merge movies and reviews from movielens dataset
movielens_df = pd.merge(movies_df,users_df,on='movieId',how='outer')

In [7]:
movielens_df

,movieId,imdbId,tmdbId,title,genres,year,userId,rating,tag,date,timestamp_tag
0,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,1,4.0,None,2000-07-30,None
1,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,5,4.0,None,1996-11-08,None
2,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,7,4.5,None,2005-01-25,None
3,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,15,2.5,None,2017-11-13,None
4,1,114709,862.0,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,17,4.5,None,2011-05-18,None
...,...,...,...,...,...,...,...,...,...,...,...
102879,193581,5476944,432131.0,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017,184,4.0,None,2018-09-16,None
102880,193583,5914996,445030.0,No Game No Life: Zero,Animation|Comedy|Fantasy,2017,184,3.5,None,2018-09-16,None
102881,193585,6397426,479308.0,Flint,Drama,2017,184,3.5,None,2018-09-16,None
102882,193587,8391976,483455.0,Bungo Stray Dogs: Dead Apple,Action|Animation,2018,184,3.5,None,2018-09-16,None
102883,193609,101726,37891.0,Andrew Dice Clay: Dice Rules,Comedy,1991,331,4.0,None,2018-09-17,None

To work around the problem of working with millions of rows, we will append the movie review timestamps and ratings into dicitionaries per movieid. This way, we can work with less rows which will increase the ease of use with the data without taking chunks:

#### Movielens dataset:

In [8]:
# # create a new column 'user_data' filled with dictionaries
# movielens_df['review_data'] = movielens_df.apply(
#     lambda row: {'userId': row['userId'],
#                                  'rating': row['rating'],
#                                   'date': row['date'],
#                                   'tag': row['tag'],
#                                   'timestamp_tag': row['timestamp_tag']},
#     axis=1
# )

# Create a new column 'user_data' filled with dictionaries
movielens_df['review_data'] = movielens_df.apply(
    lambda row: {
        'userId': row['userId'],
        'rating': row['rating'],
        'date': row['date'],
        'tag': row['tag'],
        'timestamp_tag': row['timestamp_tag']
    } if any(row[['userId', 'rating', 'date', 'tag', 'timestamp_tag']].notna()) else None,
    axis=1
)

In [9]:
movielens_df.isnull().sum()

movieId              0
imdbId               0
tmdbId              13
title                0
genres               0
year                20
userId               0
rating             207
tag              99201
date               207
timestamp_tag    99201
review_data          0
dtype: int64

In [10]:
movielens_df = movielens_df.drop(['userId','rating','date','tag','timestamp_tag'],axis=1)

In [11]:
# define aggregation functions
agg_funcs = {
    'title': 'first',
    'genres': 'first',
    'year': 'first',
    'review_data': lambda x: {idx: val for idx, val in enumerate(x) if pd.notnull(val)} or None,
    'imdbId': 'first',
    'tmdbId': 'first',
}

# group by 'movieId' and aggregate
movielens_df = movielens_df.groupby('movieId').agg(agg_funcs).reset_index()

In [12]:
movielens_df

,movieId,title,genres,year,review_data,imdbId,tmdbId
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,"{0: {'userId': 1, 'rating': 4.0, 'date': 2000-...",114709,862.0
1,2,Jumanji,Adventure|Children|Fantasy,1995,"{0: {'userId': 6, 'rating': 4.0, 'date': 1996-...",113497,8844.0
2,3,Grumpier Old Men,Comedy|Romance,1995,"{0: {'userId': 1, 'rating': 4.0, 'date': 2000-...",113228,15602.0
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995,"{0: {'userId': 6, 'rating': 3.0, 'date': 1996-...",114885,31357.0
4,5,Father of the Bride Part II,Comedy,1995,"{0: {'userId': 6, 'rating': 5.0, 'date': 1996-...",113041,11862.0
...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,Action|Animation|Comedy|Fantasy,2017,"{0: {'userId': 184, 'rating': 4.0, 'date': 201...",5476944,432131.0
9738,193583,No Game No Life: Zero,Animation|Comedy|Fantasy,2017,"{0: {'userId': 184, 'rating': 3.5, 'date': 201...",5914996,445030.0
9739,193585,Flint,Drama,2017,"{0: {'userId': 184, 'rating': 3.5, 'date': 201...",6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple,Action|Animation,2018,"{0: {'userId': 184, 'rating': 3.5, 'date': 201...",8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules,Comedy,1991,"{0: {'userId': 331, 'rating': 4.0, 'date': 201...",101726,37891.0

In [13]:
# convert genres column to a dictionary
movielens_df['genres'] = movielens_df['genres'].str.split('|').apply(lambda x: {idx: val for idx, val in enumerate(x) if pd.notnull(val)} or None)

In [14]:
movielens_df.isnull().sum()
movielens_df

movieId         0
title           0
genres          0
year           13
review_data     0
imdbId          0
tmdbId          8
dtype: int64

,movieId,title,genres,year,review_data,imdbId,tmdbId
0,1,Toy Story,"{0: 'Adventure', 1: 'Animation', 2: 'Children'...",1995,"{0: {'userId': 1, 'rating': 4.0, 'date': 2000-...",114709,862.0
1,2,Jumanji,"{0: 'Adventure', 1: 'Children', 2: 'Fantasy'}",1995,"{0: {'userId': 6, 'rating': 4.0, 'date': 1996-...",113497,8844.0
2,3,Grumpier Old Men,"{0: 'Comedy', 1: 'Romance'}",1995,"{0: {'userId': 1, 'rating': 4.0, 'date': 2000-...",113228,15602.0
3,4,Waiting to Exhale,"{0: 'Comedy', 1: 'Drama', 2: 'Romance'}",1995,"{0: {'userId': 6, 'rating': 3.0, 'date': 1996-...",114885,31357.0
4,5,Father of the Bride Part II,{0: 'Comedy'},1995,"{0: {'userId': 6, 'rating': 5.0, 'date': 1996-...",113041,11862.0
...,...,...,...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic,"{0: 'Action', 1: 'Animation', 2: 'Comedy', 3: ...",2017,"{0: {'userId': 184, 'rating': 4.0, 'date': 201...",5476944,432131.0
9738,193583,No Game No Life: Zero,"{0: 'Animation', 1: 'Comedy', 2: 'Fantasy'}",2017,"{0: {'userId': 184, 'rating': 3.5, 'date': 201...",5914996,445030.0
9739,193585,Flint,{0: 'Drama'},2017,"{0: {'userId': 184, 'rating': 3.5, 'date': 201...",6397426,479308.0
9740,193587,Bungo Stray Dogs: Dead Apple,"{0: 'Action', 1: 'Animation'}",2018,"{0: {'userId': 184, 'rating': 3.5, 'date': 201...",8391976,483455.0
9741,193609,Andrew Dice Clay: Dice Rules,{0: 'Comedy'},1991,"{0: {'userId': 331, 'rating': 4.0, 'date': 201...",101726,37891.0

#### Netflix Prize dataset:

In [15]:
netflix_df['date'] = (pd.to_datetime(netflix_df['date'])).dt.date

In [16]:
# Extracting arrays directly from DataFrame
user_ids = netflix_df['userId'].values
ratings = netflix_df['rating'].values
dates = netflix_df['date'].values

data = []
current_movie_id = None

# Convert user_ids to a pandas Series to use the .str accessor
user_ids_series = pd.Series(user_ids)

# Find movieIds based on them ending with a colon, strip anything but the last index off, 
# and append the rest of the data in tuples to order everything per movieid
movie_indices = np.where(user_ids_series.str.endswith(':'))[0]
for i, idx in enumerate(movie_indices):
    if i == len(movie_indices) - 1:
        next_idx = len(netflix_df)
    else:
        next_idx = movie_indices[i+1]
    current_movie_id = user_ids[idx].split(':')[0]
    user_data = {idx: val for idx, val in enumerate(netflix_df.loc[idx+1:next_idx-1, 'userId'].tolist())}
    rating_data = {idx: val for idx, val in enumerate(netflix_df.loc[idx+1:next_idx-1, 'rating'].tolist())}
    date_data = {idx: val for idx, val in enumerate(netflix_df.loc[idx+1:next_idx-1, 'date'].tolist())}
    data.append({
        'movieId': current_movie_id,
        'userId': user_data,
        'rating': rating_data,
        'date': date_data
    })

# Create DataFrame from processed data
netflix_df = pd.DataFrame(data, columns=['movieId', 'userId', 'rating', 'date'])

Doing this the id column will be an object, needs to be integer for merging with movie titles:

In [17]:
# convert movieId to integers
netflix_df['movieId'] = netflix_df['movieId'].astype(int)

In [18]:
# merge with movietitles to add title and year
netflix_df = pd.merge(netflix_df,movie_titles_df,on='movieId',how='left')

In [19]:
# # Create a new column to store the combined dictionaries
# netflix_df['review_data'] = None

# # Iterate through the rows
# for index, row in netflix_df.iterrows():
#     combined_dict = {}
#     # Iterate through the keys in the userId column
#     for key in row['userId']:
#         combined_dict[key] = {
#             'userId': row['userId'][key],
#             'rating': row['rating'][key],
#             'date': row['date'][key]
#         }
#     netflix_df.at[index, 'review_data'] = combined_dict

# Create a new column to store the combined dictionaries
netflix_df['review_data'] = None

# Iterate through the rows
for index, row in netflix_df.iterrows():
    combined_dict = {}
    all_none = True  # Flag to check if all values in the dictionary are None
    # Iterate through the keys in the userId column
    for key in row['userId']:
        if row['userId'][key] is not None or row['rating'][key] is not None or row['date'][key] is not None:
            all_none = False
        combined_dict[key] = {
            'userId': row['userId'][key],
            'rating': row['rating'][key],
            'date': row['date'][key]
        }
    # If all values in the dictionary are None, set the cell value to None
    if all_none:
        netflix_df.at[index, 'review_data'] = None
    else:
        netflix_df.at[index, 'review_data'] = combined_dict

In [20]:
netflix_df = netflix_df.drop(['userId','rating','date'],axis=1)

In [21]:
netflix_df.isnull().sum()

movieId        0
year           0
title          0
review_data    0
dtype: int64

In [22]:
netflix_df['review_data'].iloc[1]
movielens_df['review_data'].iloc[1]

{0: {'userId': '2059652', 'rating': 4.0, 'date': datetime.date(2005, 9, 5)},
 1: {'userId': '1666394', 'rating': 3.0, 'date': datetime.date(2005, 4, 19)},
 2: {'userId': '1759415', 'rating': 4.0, 'date': datetime.date(2005, 4, 22)},
 3: {'userId': '1959936', 'rating': 5.0, 'date': datetime.date(2005, 11, 21)},
 4: {'userId': '998862', 'rating': 4.0, 'date': datetime.date(2004, 11, 13)},
 5: {'userId': '2625420', 'rating': 2.0, 'date': datetime.date(2004, 12, 6)},
 6: {'userId': '573975', 'rating': 3.0, 'date': datetime.date(2005, 7, 21)},
 7: {'userId': '392722', 'rating': 4.0, 'date': datetime.date(2004, 12, 10)},
 8: {'userId': '1401650', 'rating': 4.0, 'date': datetime.date(2005, 2, 24)},
 9: {'userId': '988104', 'rating': 3.0, 'date': datetime.date(2005, 5, 23)},
 10: {'userId': '977632', 'rating': 4.0, 'date': datetime.date(2004, 11, 12)},
 11: {'userId': '2557870', 'rating': 4.0, 'date': datetime.date(2005, 3, 27)},
 12: {'userId': '1793899', 'rating': 5.0, 'date': datetime.date(2005, 6, 4)},
 13: {'userId': '1340535', 'rating': 5.0, 'date': datetime.date(2004, 12, 12)},
 14: {'userId': '1888322', 'rating': 5.0, 'date': datetime.date(2005, 1, 20)},
 15: {'userId': '1283598', 'rating': 3.0, 'date': datetime.date(2004, 11, 30)},
 16: {'userId': '1784150', 'rating': 4.0, 'date': datetime.date(2005, 6, 17)},
 17: {'userId': '2271251', 'rating': 5.0, 'date': datetime.date(2005, 8, 19)},
 18: {'userId': '65932', 'rating': 3.0, 'date': datetime.date(2005, 7, 19)},
 19: {'userId': '1828884', 'rating': 5.0, 'date': datetime.date(2004, 12, 21)},
 20: {'userId': '1878728', 'rating': 4.0, 'date': datetime.date(2005, 12, 1)},
 21: {'userId': '1922778', 'rating': 3.0, 'date': datetime.date(2005, 2, 7)},
 22: {'userId': '1176404', 'rating': 4.0, 'date': datetime.date(2005, 2, 23)},
 23: {'userId': '2265116', 'rating': 3.0, 'date': datetime.date(2005, 9, 6)},
 24: {'userId': '1078701', 'rating': 4.0, 'date': datetime.date(2005, 10, 12)},
 25: {'userId': '1832577', 'rating': 4.0, 'date': datetime.date(2005, 9, 7)},
 26: {'userId': '748922', 'rating': 5.0, 'date': datetime.date(2005, 7, 5)},
 27: {'userId': '1013802', 'rating': 1.0, 'date': datetime.date(2005, 5, 30)},
 28: {'userId': '1131325', 'rating': 2.0, 'date': datetime.date(2005, 11, 14)},
 29: {'userId': '2244378', 'rating': 4.0, 'date': datetime.date(2005, 2, 9)},
 30: {'userId': '494639', 'rating': 2.0, 'date': datetime.date(2005, 9, 26)},
 31: {'userId': '636262', 'rating': 1.0, 'date': datetime.date(2005, 8, 23)},
 32: {'userId': '1903158', 'rating': 4.0, 'date': datetime.date(2005, 3, 4)},
 33: {'userId': '220427', 'rating': 4.0, 'date': datetime.date(2005, 5, 5)},
 34: {'userId': '2439493', 'rating': 1.0, 'date': datetime.date(2005, 2, 10)},
 35: {'userId': '2225116', 'rating': 4.0, 'date': datetime.date(2005, 8, 29)},
 36: {'userId': '1445632', 'rating': 5.0, 'date': datetime.date(2005, 1, 30)},
 37: {'userId': '2592823', 'rating': 4.0, 'date': datetime.date(2005, 2, 6)},
 38: {'userId': '1288603', 'rating': 5.0, 'date': datetime.date(2005, 6, 20)},
 39: {'userId': '2556926', 'rating': 3.0, 'date': datetime.date(2005, 7, 9)},
 40: {'userId': '1190070', 'rating': 4.0, 'date': datetime.date(2005, 11, 5)},
 41: {'userId': '1312846', 'rating': 3.0, 'date': datetime.date(2005, 8, 26)},
 42: {'userId': '2226229', 'rating': 3.0, 'date': datetime.date(2005, 4, 24)},
 43: {'userId': '1563935', 'rating': 1.0, 'date': datetime.date(2005, 8, 12)},
 44: {'userId': '69809', 'rating': 5.0, 'date': datetime.date(2005, 4, 8)},
 45: {'userId': '1349753', 'rating': 3.0, 'date': datetime.date(2005, 3, 23)},
 46: {'userId': '785768', 'rating': 3.0, 'date': datetime.date(2005, 4, 19)},
 47: {'userId': '426476', 'rating': 5.0, 'date': datetime.date(2005, 5, 10)},
 48: {'userId': '810636', 'rating': 4.0, 'date': datetime.date(2005, 4, 25)},
 49: {'userId': '468713', 'rating': 5.0, 'date': datetime.date(2005, 7, 18)},
 50: {'userId': '222290', 'rating': 4.0, 'date': datetime.date(2005, 3, 14)},
 51: {'userId': '349407', 'rating': 5.0, 'date': datetime.date(2005, 1, 2)},
 52: {'userId': '311232', 'rating': 2.0, 'date': datetime.date(2005, 6, 28)},
 53: {'userId': '2596999', 'rating': 4.0, 'date': datetime.date(2005, 10, 7)},
 54: {'userId': '1025601', 'rating': 5.0, 'date': datetime.date(2005, 11, 9)},
 55: {'userId': '1743759', 'rating': 4.0, 'date': datetime.date(2005, 1, 30)},
 56: {'userId': '2385553', 'rating': 5.0, 'date': datetime.date(2005, 5, 24)},
 57: {'userId': '1374216', 'rating': 1.0, 'date': datetime.date(2005, 9, 25)},
 58: {'userId': '526466', 'rating': 4.0, 'date': datetime.date(2005, 3, 5)},
 59: {'userId': '2648861', 'rating': 3.0, 'date': datetime.date(2005, 5, 25)},
 60: {'userId': '1210631', 'rating': 3.0, 'date': datetime.date(2005, 3, 24)},
 61: {'userId': '2314531', 'rating': 4.0, 'date': datetime.date(2005, 7, 15)},
 62: {'userId': '618272', 'rating': 1.0, 'date': datetime.date(2005, 8, 14)},
 63: {'userId': '2532807', 'rating': 3.0, 'date': datetime.date(2005, 1, 28)},
 64: {'userId': '412535', 'rating': 4.0, 'date': datetime.date(2005, 5, 23)},
 65: {'userId': '1315005', 'rating': 4.0, 'date': datetime.date(2005, 6, 28)},
 66: {'userId': '1358911', 'rating': 5.0, 'date': datetime.date(2005, 12, 13)},
 67: {'userId': '507603', 'rating': 1.0, 'date': datetime.date(2005, 7, 23)},
 68: {'userId': '1507649', 'rating': 5.0, 'date': datetime.date(2005, 2, 17)},
 69: {'userId': '845529', 'rating': 5.0, 'date': datetime.date(2005, 4, 26)},
 70: {'userId': '1479907', 'rating': 5.0, 'date': datetime.date(2005, 2, 28)},
 71: {'userId': '236271', 'rating': 2.0, 'date': datetime.date(2005, 6, 21)},
 72: {'userId': '2422676', 'rating': 3.0, 'date': datetime.date(2005, 4, 7)},
 73: {'userId': '1636093', 'rating': 5.0, 'date': datetime.date(2005, 10, 20)},
 74: {'userId': '995594', 'rating': 5.0, 'date': datetime.date(2005, 1, 19)},
 75: {'userId': '1664010', 'rating': 4.0, 'date': datetime.date(2005, 10, 13)},
 76: {'userId': '2431481', 'rating': 3.0, 'date': datetime.date(2004, 11, 18)},
 77: {'userId': '1980668', 'rating': 5.0, 'date': datetime.date(2004, 12, 16)},
 78: {'userId': '402321', 'rating': 4.0, 'date': datetime.date(2005, 4, 18)},
 79: {'userId': '1344564', 'rating': 3.0, 'date': datetime.date(2005, 1, 25)},
 80: {'userId': '1632603', 'rating': 3.0, 'date': datetime.date(2005, 9, 9)},
 81: {'userId': '2567280', 'rating': 3.0, 'date': datetime.date(2005, 3, 17)},
 82: {'userId': '1623166', 'rating': 3.0, 'date': datetime.date(2005, 2, 10)},
 83: {'userId': '521932', 'rating': 4.0, 'date': datetime.date(2005, 1, 11)},
 84: {'userId': '105086', 'rating': 5.0, 'date': datetime.date(2005, 9, 20)},
 85: {'userId': '2072554', 'rating': 5.0, 'date': datetime.date(2005, 5, 5)},
 86: {'userId': '2231529', 'rating': 3.0, 'date': datetime.date(2005, 8, 25)},
 87: {'userId': '2103439', 'rating': 2.0, 'date': datetime.date(2005, 6, 5)},
 88: {'userId': '261764', 'rating': 1.0, 'date': datetime.date(2005, 11, 10)},
 89: {'userId': '193476', 'rating': 5.0, 'date': datetime.date(2005, 3, 23)},
 90: {'userId': '1576540', 'rating': 4.0, 'date': datetime.date(2005, 4, 14)},
 91: {'userId': '1783594', 'rating': 5.0, 'date': datetime.date(2005, 3, 7)},
 92: {'userId': '503334', 'rating': 4.0, 'date': datetime.date(2005, 11, 25)},
 93: {'userId': '183903', 'rating': 5.0, 'date': datetime.date(2005, 1, 30)},
 94: {'userId': '2606799', 'rating': 1.0, 'date': datetime.date(2005, 5, 16)},
 95: {'userId': '1236127', 'rating': 4.0, 'date': datetime.date(2005, 6, 7)},
 96: {'userId': '2375962', 'rating': 3.0, 'date': datetime.date(2005, 7, 4)},
 97: {'userId': '2212071', 'rating': 3.0, 'date': datetime.date(2005, 9, 17)},
 98: {'userId': '1252841', 'rating': 3.0, 'date': datetime.date(2005, 2, 6)},
 99: {'userId': '247898', 'rating': 5.0, 'date': datetime.date(2005, 7, 15)},
 100: {'userId': '970975', 'rating': 3.0, 'date': datetime.date(2005, 9, 2)},
 101: {'userId': '305344', 'rating': 1.0, 'date': datetime.date(2004, 10, 16)},
 102: {'userId': '1581186', 'rating': 4.0, 'date': datetime.date(2005, 2, 27)},
 103: {'userId': '1129620', 'rating': 3.0, 'date': datetime.date(2005, 9, 3)},
 104: {'userId': '584750', 'rating': 3.0, 'date': datetime.date(2005, 11, 27)},
 105: {'userId': '11409', 'rating': 5.0, 'date': datetime.date(2005, 1, 13)},
 106: {'userId': '1875495', 'rating': 2.0, 'date': datetime.date(2005, 1, 12)},
 107: {'userId': '1403217', 'rating': 2.0, 'date': datetime.date(2005, 8, 17)},
 108: {'userId': '2147527',
  'rating': 1.0,
  'date': datetime.date(2005, 11, 18)},
 109: {'userId': '2418486', 'rating': 4.0, 'date': datetime.date(2005, 11, 8)},
 110: {'userId': '1476323',
  'rating': 5.0,
  'date': datetime.date(2004, 11, 22)},
 111: {'userId': '2345723',
  'rating': 4.0,
  'date': datetime.date(2004, 12, 26)},
 112: {'userId': '2640085', 'rating': 5.0, 'date': datetime.date(2005, 4, 26)},
 113: {'userId': '1803154',
  'rating': 2.0,
  'date': datetime.date(2004, 12, 14)},
 114: {'userId': '1251170', 'rating': 2.0, 'date': datetime.date(2005, 2, 11)},
 115: {'userId': '527491', 'rating': 4.0, 'date': datetime.date(2005, 7, 30)},
 116: {'userId': '391517', 'rating': 4.0, 'date': datetime.date(2005, 5, 16)},
 117: {'userId': '1398626',
  'rating': 3.0,
  'date': datetime.date(2005, 11, 26)},
 118: {'userId': '828919', 'rating': 5.0, 'date': datetime.date(2004, 12, 18)},
 119: {'userId': '196494', 'rating': 5.0, 'date': datetime.date(2005, 10, 3)},
 120: {'userId': '715897', 'rating': 5.0, 'date': datetime.date(2005, 10, 18)},
 121: {'userId': '268917', 'rating': 2.0, 'date': datetime.date(2005, 6, 3)},
 122: {'userId': '41422', 'rating': 4.0, 'date': datetime.date(2005, 9, 11)},
 123: {'userId': '1806515', 'rating': 3.0, 'date': datetime.date(2005, 9, 23)},
 124: {'userId': '2118461',
  'rating': 4.0,
  'date': datetime.date(2005, 12, 20)},
 125: {'userId': '387418', 'rating': 1.0, 'date': datetime.date(2004, 11, 19)},
 126: {'userId': '2019055', 'rating': 5.0, 'date': datetime.date(2005, 5, 12)},
 127: {'userId': '348960', 'rating': 1.0, 'date': datetime.date(2005, 9, 7)},
 128: {'userId': '1167731', 'rating': 4.0, 'date': datetime.date(2005, 6, 7)},
 129: {'userId': '2468831', 'rating': 5.0, 'date': datetime.date(2005, 7, 5)},
 130: {'userId': '219925', 'rating': 4.0, 'date': datetime.date(2005, 4, 18)},
 131: {'userId': '1025193', 'rating': 5.0, 'date': datetime.date(2005, 7, 7)},
 132: {'userId': '630887', 'rating': 5.0, 'date': datetime.date(2005, 1, 20)},
 133: {'userId': '1461435', 'rating': 1.0, 'date': datetime.date(2005, 3, 21)},
 134: {'userId': '1838586', 'rating': 1.0, 'date': datetime.date(2005, 8, 17)},
 135: {'userId': '1515430', 'rating': 3.0, 'date': datetime.date(2005, 1, 27)},
 136: {'userId': '1807053', 'rating': 5.0, 'date': datetime.date(2005, 4, 25)},
 137: {'userId': '1172326', 'rating': 5.0, 'date': datetime.date(2005, 6, 18)},
 138: {'userId': '1785842', 'rating': 3.0, 'date': datetime.date(2005, 6, 1)},
 139: {'userId': '803752', 'rating': 3.0, 'date': datetime.date(2004, 11, 17)},
 140: {'userId': '1581265', 'rating': 3.0, 'date': datetime.date(2005, 4, 15)},
 141: {'userId': '515436', 'rating': 1.0, 'date': datetime.date(2005, 2, 13)},
 142: {'userId': '1824543', 'rating': 4.0, 'date': datetime.date(2005, 4, 20)},
 143: {'userId': '1283204',
  'rating': 3.0,
  'date': datetime.date(2004, 12, 23)},
 144: {'userId': '1272122', 'rating': 5.0, 'date': datetime.date(2005, 7, 25)}}

{0: {'userId': 6,
  'rating': 4.0,
  'date': datetime.date(1996, 10, 17),
  'tag': None,
  'timestamp_tag': None},
 1: {'userId': 8,
  'rating': 4.0,
  'date': datetime.date(1996, 8, 8),
  'tag': None,
  'timestamp_tag': None},
 2: {'userId': 18,
  'rating': 3.0,
  'date': datetime.date(2016, 2, 16),
  'tag': None,
  'timestamp_tag': None},
 3: {'userId': 19,
  'rating': 3.0,
  'date': datetime.date(2000, 8, 8),
  'tag': None,
  'timestamp_tag': None},
 4: {'userId': 20,
  'rating': 3.0,
  'date': datetime.date(2003, 5, 27),
  'tag': None,
  'timestamp_tag': None},
 5: {'userId': 21,
  'rating': 3.5,
  'date': datetime.date(2014, 12, 28),
  'tag': None,
  'timestamp_tag': None},
 6: {'userId': 27,
  'rating': 4.0,
  'date': datetime.date(2000, 7, 4),
  'tag': None,
  'timestamp_tag': None},
 7: {'userId': 51,
  'rating': 4.5,
  'date': datetime.date(2009, 1, 2),
  'tag': None,
  'timestamp_tag': None},
 8: {'userId': 62,
  'rating': 4.0,
  'date': datetime.date(2018, 6, 12),
  'tag': 'fantasy',
  'timestamp_tag': datetime.date(2018, 6, 12)},
 9: {'userId': 62,
  'rating': 4.0,
  'date': datetime.date(2018, 6, 12),
  'tag': 'magic board game',
  'timestamp_tag': datetime.date(2018, 6, 12)},
 10: {'userId': 62,
  'rating': 4.0,
  'date': datetime.date(2018, 6, 12),
  'tag': 'Robin Williams',
  'timestamp_tag': datetime.date(2018, 6, 12)},
 11: {'userId': 68,
  'rating': 2.5,
  'date': datetime.date(2006, 9, 17),
  'tag': None,
  'timestamp_tag': None},
 12: {'userId': 82,
  'rating': 3.0,
  'date': datetime.date(2004, 5, 13),
  'tag': None,
  'timestamp_tag': None},
 13: {'userId': 91,
  'rating': 3.0,
  'date': datetime.date(2005, 4, 5),
  'tag': None,
  'timestamp_tag': None},
 14: {'userId': 93,
  'rating': 5.0,
  'date': datetime.date(1999, 11, 18),
  'tag': None,
  'timestamp_tag': None},
 15: {'userId': 94,
  'rating': 4.0,
  'date': datetime.date(1996, 9, 22),
  'tag': None,
  'timestamp_tag': None},
 16: {'userId': 103,
  'rating': 4.0,
  'date': datetime.date(2015, 5, 18),
  'tag': None,
  'timestamp_tag': None},
 17: {'userId': 104,
  'rating': 3.0,
  'date': datetime.date(2005, 4, 29),
  'tag': None,
  'timestamp_tag': None},
 18: {'userId': 107,
  'rating': 5.0,
  'date': datetime.date(1996, 4, 12),
  'tag': None,
  'timestamp_tag': None},
 19: {'userId': 112,
  'rating': 1.5,
  'date': datetime.date(2017, 12, 23),
  'tag': None,
  'timestamp_tag': None},
 20: {'userId': 117,
  'rating': 3.0,
  'date': datetime.date(1996, 10, 1),
  'tag': None,
  'timestamp_tag': None},
 21: {'userId': 122,
  'rating': 4.0,
  'date': datetime.date(2016, 4, 25),
  'tag': None,
  'timestamp_tag': None},
 22: {'userId': 125,
  'rating': 4.0,
  'date': datetime.date(2016, 9, 19),
  'tag': None,
  'timestamp_tag': None},
 23: {'userId': 135,
  'rating': 3.0,
  'date': datetime.date(2001, 12, 30),
  'tag': None,
  'timestamp_tag': None},
 24: {'userId': 140,
  'rating': 3.5,
  'date': datetime.date(2004, 5, 26),
  'tag': None,
  'timestamp_tag': None},
 25: {'userId': 144,
  'rating': 3.0,
  'date': datetime.date(2006, 1, 15),
  'tag': None,
  'timestamp_tag': None},
 26: {'userId': 149,
  'rating': 1.0,
  'date': datetime.date(1998, 8, 2),
  'tag': None,
  'timestamp_tag': None},
 27: {'userId': 153,
  'rating': 2.0,
  'date': datetime.date(2018, 5, 5),
  'tag': None,
  'timestamp_tag': None},
 28: {'userId': 160,
  'rating': 4.0,
  'date': datetime.date(2000, 10, 15),
  'tag': None,
  'timestamp_tag': None},
 29: {'userId': 169,
  'rating': 4.0,
  'date': datetime.date(2004, 3, 3),
  'tag': None,
  'timestamp_tag': None},
 30: {'userId': 177,
  'rating': 3.5,
  'date': datetime.date(2015, 6, 28),
  'tag': None,
  'timestamp_tag': None},
 31: {'userId': 186,
  'rating': 4.0,
  'date': datetime.date(2002, 9, 3),
  'tag': None,
  'timestamp_tag': None},
 32: {'userId': 202,
  'rating': 4.0,
  'date': datetime.date(2000, 11, 22),
  'tag': None,
  'timestamp_tag': None},
 33: {'userId': 217,
  'rating': 2.0,
  'date': datetime.date(2000, 4, 17),
  'tag': None,
  'timestamp_tag': None},
 34: {'userId': 219,
  'rating': 2.5,
  'date': datetime.date(2007, 11, 11),
  'tag': None,
  'timestamp_tag': None},
 35: {'userId': 221,
  'rating': 3.5,
  'date': datetime.date(2005, 3, 18),
  'tag': None,
  'timestamp_tag': None},
 36: {'userId': 222,
  'rating': 2.5,
  'date': datetime.date(2014, 2, 2),
  'tag': None,
  'timestamp_tag': None},
 37: {'userId': 226,
  'rating': 3.0,
  'date': datetime.date(2004, 9, 20),
  'tag': None,
  'timestamp_tag': None},
 38: {'userId': 230,
  'rating': 2.5,
  'date': datetime.date(2007, 11, 29),
  'tag': None,
  'timestamp_tag': None},
 39: {'userId': 232,
  'rating': 4.0,
  'date': datetime.date(2004, 5, 23),
  'tag': None,
  'timestamp_tag': None},
 40: {'userId': 240,
  'rating': 5.0,
  'date': datetime.date(1996, 11, 27),
  'tag': None,
  'timestamp_tag': None},
 41: {'userId': 249,
  'rating': 4.0,
  'date': datetime.date(2012, 11, 24),
  'tag': None,
  'timestamp_tag': None},
 42: {'userId': 259,
  'rating': 2.0,
  'date': datetime.date(2006, 5, 5),
  'tag': None,
  'timestamp_tag': None},
 43: {'userId': 274,
  'rating': 3.5,
  'date': datetime.date(2007, 2, 20),
  'tag': None,
  'timestamp_tag': None},
 44: {'userId': 276,
  'rating': 4.0,
  'date': datetime.date(1997, 3, 14),
  'tag': None,
  'timestamp_tag': None},
 45: {'userId': 284,
  'rating': 4.0,
  'date': datetime.date(1996, 5, 21),
  'tag': None,
  'timestamp_tag': None},
 46: {'userId': 288,
  'rating': 2.0,
  'date': datetime.date(2001, 1, 2),
  'tag': None,
  'timestamp_tag': None},
 47: {'userId': 294,
  'rating': 3.0,
  'date': datetime.date(2000, 8, 18),
  'tag': None,
  'timestamp_tag': None},
 48: {'userId': 298,
  'rating': 0.5,
  'date': datetime.date(2015, 12, 18),
  'tag': None,
  'timestamp_tag': None},
 49: {'userId': 299,
  'rating': 3.0,
  'date': datetime.date(2000, 11, 19),
  'tag': None,
  'timestamp_tag': None},
 50: {'userId': 304,
  'rating': 4.0,
  'date': datetime.date(1998, 3, 29),
  'tag': None,
  'timestamp_tag': None},
 51: {'userId': 305,
  'rating': 3.5,
  'date': datetime.date(2016, 4, 8),
  'tag': None,
  'timestamp_tag': None},
 52: {'userId': 307,
  'rating': 2.5,
  'date': datetime.date(2007, 8, 3),
  'tag': None,
  'timestamp_tag': None},
 53: {'userId': 308,
  'rating': 3.0,
  'date': datetime.date(2015, 1, 16),
  'tag': None,
  'timestamp_tag': None},
 54: {'userId': 318,
  'rating': 3.5,
  'date': datetime.date(2010, 4, 8),
  'tag': None,
  'timestamp_tag': None},
 55: {'userId': 321,
  'rating': 5.0,
  'date': datetime.date(1996, 9, 20),
  'tag': None,
  'timestamp_tag': None},
 56: {'userId': 322,
  'rating': 3.0,
  'date': datetime.date(2008, 8, 2),
  'tag': None,
  'timestamp_tag': None},
 57: {'userId': 323,
  'rating': 4.0,
  'date': datetime.date(2015, 1, 30),
  'tag': None,
  'timestamp_tag': None},
 58: {'userId': 330,
  'rating': 1.5,
  'date': datetime.date(2010, 10, 1),
  'tag': None,
  'timestamp_tag': None},
 59: {'userId': 347,
  'rating': 3.0,
  'date': datetime.date(1996, 11, 10),
  'tag': None,
  'timestamp_tag': None},
 60: {'userId': 353,
  'rating': 4.0,
  'date': datetime.date(1996, 5, 12),
  'tag': None,
  'timestamp_tag': None},
 61: {'userId': 357,
  'rating': 3.0,
  'date': datetime.date(2012, 9, 25),
  'tag': None,
  'timestamp_tag': None},
 62: {'userId': 359,
  'rating': 3.5,
  'date': datetime.date(2007, 12, 20),
  'tag': None,
  'timestamp_tag': None},
 63: {'userId': 373,
  'rating': 3.0,
  'date': datetime.date(1996, 11, 1),
  'tag': None,
  'timestamp_tag': None},
 64: {'userId': 380,
  'rating': 5.0,
  'date': datetime.date(2017, 4, 28),
  'tag': None,
  'timestamp_tag': None},
 65: {'userId': 381,
  'rating': 4.0,
  'date': datetime.date(2006, 12, 24),
  'tag': None,
  'timestamp_tag': None},
 66: {'userId': 395,
  'rating': 3.0,
  'date': datetime.date(1996, 8, 31),
  'tag': None,
  'timestamp_tag': None},
 67: {'userId': 411,
  'rating': 4.0,
  'date': datetime.date(1996, 6, 23),
  'tag': None,
  'timestamp_tag': None},
 68: {'userId': 414,
  'rating': 3.0,
  'date': datetime.date(2000, 6, 21),
  'tag': None,
  'timestamp_tag': None},
 69: {'userId': 425,
  'rating': 3.0,
  'date': datetime.date(2004, 5, 25),
  'tag': None,
  'timestamp_tag': None},
 70: {'userId': 426,
  'rating': 4.5,
  'date': datetime.date(2015, 12, 25),
  'tag': None,
  'timestamp_tag': None},
 71: {'userId': 432,
  'rating': 4.0,
  'date': datetime.date(2011, 9, 19),
  'tag': None,
  'timestamp_tag': None},
 72: {'userId': 434,
  'rating': 2.5,
  'date': datetime.date(2010, 4, 12),
  'tag': None,
  'timestamp_tag': None},
 73: {'userId': 436,
  'rating': 4.0,
  'date': datetime.date(1996, 5, 31),
  'tag': None,
  'timestamp_tag': None},
 74: {'userId': 446,
  'rating': 3.0,
  'date': datetime.date(1996, 9, 27),
  'tag': None,
  'timestamp_tag': None},
 75: {'userId': 447,
  'rating': 5.0,
  'date': datetime.date(1996, 7, 10),
  'tag': None,
  'timestamp_tag': None},
 76: {'userId': 448,
  'rating': 3.0,
  'date': datetime.date(2002, 4, 18),
  'tag': None,
  'timestamp_tag': None},
 77: {'userId': 458,
  'rating': 4.0,
  'date': datetime.date(1996, 10, 18),
  'tag': None,
  'timestamp_tag': None},
 78: {'userId': 470,
  'rating': 3.0,
  'date': datetime.date(1996, 11, 28),
  'tag': None,
  'timestamp_tag': None},
 79: {'userId': 474,
  'rating': 3.0,
  'date': datetime.date(2003, 3, 5),
  'tag': 'game',
  'timestamp_tag': datetime.date(2006, 1, 16)},
 80: {'userId': 475,
  'rating': 4.5,
  'date': datetime.date(2017, 6, 21),
  'tag': None,
  'timestamp_tag': None},
 81: {'userId': 476,
  'rating': 4.0,
  'date': datetime.date(1996, 6, 17),
  'tag': None,
  'timestamp_tag': None},
 82: {'userId': 477,
  'rating': 4.0,
  'date': datetime.date(2008, 1, 21),
  'tag': None,
  'timestamp_tag': None},
 83: {'userId': 480,
  'rating': 3.0,
  'date': datetime.date(2007, 5, 14),
  'tag': None,
  'timestamp_tag': None},
 84: {'userId': 482,
  'rating': 4.5,
  'date': datetime.date(2005, 1, 10),
  'tag': None,
  'timestamp_tag': None},
 85: {'userId': 483,
  'rating': 4.0,
  'date': datetime.date(2007, 5, 4),
  'tag': None,
  'timestamp_tag': None},
 86: {'userId': 484,
  'rating': 2.5,
  'date': datetime.date(2012, 7, 14),
  'tag': None,
  'timestamp_tag': None},
 87: {'userId': 489,
  'rating': 2.5,
  'date': datetime.date(2012, 3, 30),
  'tag': None,
  'timestamp_tag': None},
 88: {'userId': 497,
  'rating': 2.5,
  'date': datetime.date(2015, 4, 15),
  'tag': None,
  'timestamp_tag': None},
 89: {'userId': 501,
  'rating': 3.0,
  'date': datetime.date(1996, 10, 10),
  'tag': None,
  'timestamp_tag': None},
 90: {'userId': 512,
  'rating': 3.0,
  'date': datetime.date(1996, 8, 31),
  'tag': None,
  'timestamp_tag': None},
 91: {'userId': 517,
  'rating': 3.0,
  'date': datetime.date(2017, 2, 24),
  'tag': None,
  'timestamp_tag': None},
 92: {'userId': 523,
  'rating': 4.5,
  'date': datetime.date(2017, 8, 19),
  'tag': None,
  'timestamp_tag': None},
 93: {'userId': 525,
  'rating': 3.5,
  'date': datetime.date(2016, 10, 14),
  'tag': None,
  'timestamp_tag': None},
 94: {'userId': 527,
  'rating': 4.0,
  'date': datetime.date(2002, 9, 28),
  'tag': None,
  'timestamp_tag': None},
 95: {'userId': 534,
  'rating': 4.5,
  'date': datetime.date(2016, 4, 4),
  'tag': None,
  'timestamp_tag': None},
 96: {'userId': 559,
  'rating': 4.0,
  'date': datetime.date(1996, 10, 16),
  'tag': None,
  'timestamp_tag': None},
 97: {'userId': 561,
  'rating': 4.0,
  'date': datetime.date(2017, 4, 2),
  'tag': None,
  'timestamp_tag': None},
 98: {'userId': 563,
  'rating': 2.5,
  'date': datetime.date(2015, 11, 10),
  'tag': None,
  'timestamp_tag': None},
 99: {'userId': 566,
  'rating': 4.0,
  'date': datetime.date(1996, 11, 26),
  'tag': None,
  'timestamp_tag': None},
 100: {'userId': 570,
  'rating': 3.5,
  'date': datetime.date(2007, 6, 10),
  'tag': None,
  'timestamp_tag': None},
 101: {'userId': 573,
  'rating': 4.5,
  'date': datetime.date(2007, 8, 13),
  'tag': None,
  'timestamp_tag': None},
 102: {'userId': 586,
  'rating': 4.0,
  'date': datetime.date(2018, 6, 25),
  'tag': None,
  'timestamp_tag': None},
 103: {'userId': 590,
  'rating': 2.5,
  'date': datetime.date(2009, 11, 17),
  'tag': None,
  'timestamp_tag': None},
 104: {'userId': 592,
  'rating': 4.0,
  'date': datetime.date(1996, 7, 14),
  'tag': None,
  'timestamp_tag': None},
 105: {'userId': 594,
  'rating': 4.0,
  'date': datetime.date(2005, 2, 22),
  'tag': None,
  'timestamp_tag': None},
 106: {'userId': 599,
  'rating': 2.5,
  'date': datetime.date(2017, 6, 26),
  'tag': None,
  'timestamp_tag': None},
 107: {'userId': 600,
  'rating': 4.0,
  'date': datetime.date(2009, 3, 22),
  'tag': None,
  'timestamp_tag': None},
 108: {'userId': 602,
  'rating': 4.0,
  'date': datetime.date(1996, 8, 24),
  'tag': None,
  'timestamp_tag': None},
 109: {'userId': 604,
  'rating': 5.0,
  'date': datetime.date(1996, 5, 14),
  'tag': None,
  'timestamp_tag': None},
 110: {'userId': 605,
  'rating': 3.5,
  'date': datetime.date(2010, 6, 22),
  'tag': None,
  'timestamp_tag': None},
 111: {'userId': 608,
  'rating': 2.0,
  'date': datetime.date(2005, 5, 30),
  'tag': None,
  'timestamp_tag': None}}

Dicitionaries look the same after creating so they can be concatenated

## Finalizing and converting to parquet:

To convert to parquet the keys of the dictionaries need to be converted to strings, otherwise the conversion to parquet does not work. Afterwards to Netflix and Movielens dataframes will be converted to parquet files.

In [37]:
netflix_df.columns
movielens_df.columns

Index(['movieId', 'year', 'title', 'review_data'], dtype='object')

Index(['movieId', 'title', 'genres', 'year', 'review_data', 'imdbId',
       'tmdbId'],
      dtype='object')

In [38]:
# conversion of keys to strings
movielens_df['genres'] = movielens_df['genres'].apply(lambda x: {str(k): v for k, v in x.items()} if isinstance(x, dict) else {})
movielens_df['review_data']= movielens_df['review_data'].apply(lambda x: {str(k): str(v) for k, v in x.items()} if isinstance(x, dict) else {})
netflix_df['review_data'] = netflix_df['review_data'].apply(lambda x: {str(k): str(v) for k, v in x.items()} if isinstance(x, dict) else {})

In [39]:
# convert to parquet
netflix_df.to_parquet('cleaned/netflix_parquet')
movielens_df.to_parquet('cleaned/movielens_parquet')

In [40]:
# netflix_movielens_df = pd.concat([netflix_df,movielens_df],ignore_index=True)

# # show to check afterwards if the indices are not replaced after concatenated dictionaries
# netflix_movielens_df[netflix_movielens_df['movieId']==1]

In [41]:
# def agg_concat_dicts_np(series):
#     # Convert series of dictionaries to a list of dictionaries
#     list_of_dicts = list(series)
#     # Merge dictionaries
#     merged_dict = {}
#     key_counter = 0
#     for d in list_of_dicts:
#         if d is not None:
#             for value in d.values():
#                 merged_dict[str(key_counter)] = value
#                 key_counter += 1
#     return merged_dict

# # group by 'movieId' and aggregate using the custom function
# recsys_df = netflix_movielens_df.groupby('movieId').agg({
#     'title' : 'first',
#     'year' : 'first',
#     'genres' : 'first',
#     'imdbId' : 'max',
#     'tmdbId' : 'max',
#     'review_data': agg_concat_dicts_np,
# }).reset_index()

In [42]:
# recsys_df.isnull().sum()
# recsys_df

In [43]:
# # convert integer keys into strings in the columns with dictionaries
# recsys_df['genres'] = recsys_df['genres'].apply(lambda x: {str(k): v for k, v in x.items()} if isinstance(x, dict) else {})
# recsys_df['review_data'] = recsys_df['review_data'].apply(lambda x: {str(k): str(v) for k, v in x.items()} if isinstance(x, dict) else {})

In [44]:
# # convert to parquet
# recsys_df.to_parquet('cleaned/netflix_movielens_cleaned_parquet')