In [44]:
import numpy as np
import pandas as pd

In [45]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # to make jupyter print all outputs, not just the last one
from IPython.core.display import HTML # to pretty print pandas df and be able to copy them over (e.g. to ppt slides)

In [46]:
netflix_df = pd.read_parquet('cleaned/netflix_parquet')

In [47]:
# make samples using random sampling:
sample_3quarter = netflix_df.sample(frac=3/4, random_state=42)
sample_half = netflix_df.sample(frac=1/2, random_state=42)
sample_third = netflix_df.sample(frac=1/3, random_state=42)
sample_quarter = netflix_df.sample(frac=1/4, random_state=42)
sample_sixth = netflix_df.sample(frac=1/6, random_state=42)
sample_tenth = netflix_df.sample(frac=1/10, random_state=42)
sample_25th = netflix_df.sample(frac=1/25, random_state=42)

### Feature engineering:

A user-item matrix will be created.

In [48]:
sample_tenth = sample_tenth.drop(['year','title'],axis=1)
sample_tenth

      movieId                                        review_data
123       124  [{'date': 2002-04-01, 'rating': 3.0, 'userId':...
1193    13434  [{'date': 2003-02-20, 'rating': 2.0, 'userId':...
462      4601  [{'date': 2003-12-27, 'rating': 3.0, 'userId':...
351       352  [{'date': 2003-10-13, 'rating': 4.0, 'userId':...
1058     9560  [{'date': 2003-07-06, 'rating': 4.0, 'userId':...
...       ...                                                ...
367      4506  [{'date': 2005-07-06, 'rating': 4.0, 'userId':...
1415    13656  [{'date': 2003-11-21, 'rating': 2.0, 'userId':...
768      9270  [{'date': 2002-09-26, 'rating': 4.0, 'userId':...
1218    13459  [{'date': 2000-07-18, 'rating': 2.0, 'userId':...
588      4727  [{'date': 2004-09-16, 'rating': 4.0, 'userId':...

[143 rows x 2 columns]

#### Let's work with movies and reviews first, add other features later:

Only rating and userId of dictionary will be kept to accomplish this.

In [49]:
sample_tenth['review_data'] = sample_tenth['review_data'].apply(lambda x: None if x is None else [{'userId': review['userId'], 'rating': review['rating']} for review in x if 'userId' in review and 'rating' in review])

In [52]:
def train_val_test_split(data, train_ratio=0.8, val_ratio=0.1, test_ratio=0.1):
    """
    Splits the data into training, validation, and test sets.

    Parameters:
    - data: pandas DataFrame containing the data to be split.
    - train_ratio: float, ratio of the training set size to the total data size (default: 0.8).
    - val_ratio: float, ratio of the validation set size to the total data size (default: 0.1).
    - test_ratio: float, ratio of the test set size to the total data size (default: 0.1).

    Returns:
    - train_data: pandas DataFrame, training set.
    - val_data: pandas DataFrame, validation set.
    - test_data: pandas DataFrame, test set.
    """
    # Shuffle the data
    data_shuffled = data.sample(frac=1, random_state=42)

    # Calculate the sizes of each set
    num_samples = len(data_shuffled)
    num_train = int(train_ratio * num_samples)
    num_val = int(val_ratio * num_samples)
    num_test = num_samples - num_train - num_val

    # Split the data into train, validation, and test sets
    train_data = data_shuffled[:num_train]
    val_data = data_shuffled[num_train:num_train+num_val]
    test_data = data_shuffled[num_train+num_val:num_train+num_val+num_test]

    return train_data, val_data, test_data

In [53]:
train_data, val_data, test_data = train_val_test_split(sample_tenth)

#### First we need to find unique user and item(movie)ids:

In [54]:
# set is used because it does not allow for duplicates
user_ids = set()

# iterate over each row
for index, row in train_data.iterrows():
    # iterate over each dictionary in the 'review_data' column of the current row
    for review_dict in row['review_data']:
        user_id = review_dict.get('userId')  # Extract userId from the dictionary
        if user_id:  # Check if userId exists
            user_ids.add(user_id)  # Add user ID to the set

user_ids = list(user_ids)

In [55]:
# put movieids in set so duplicates are not allowed for here either
item_ids = list(set(train_data['movieId'].unique()))

In [56]:
print("The user/item matrix will be {} x {}. Therefore its likely the matrix will be very sparse.".format(len(user_ids),len(item_ids)))

The user/item matrix will be 238312 x 114. Therefore its likely the matrix will be very sparse.

#### Now we will populate the matrix with the matrix_df values:

In [57]:
# Assuming user_ids is a list of unique user IDs
user_ids_dict = {uid: idx for idx, uid in enumerate(user_ids)}

# Determine the number of users and movies
num_users = len(user_ids)
num_movies = len(item_ids)

# Initialize user-item matrix with zeros
user_item_matrix = np.zeros((num_users, num_movies))

for i, (reviews, movie_id) in enumerate(zip(train_data['review_data'], train_data['movieId'])):
    for review in reviews:
        user_idx = user_ids_dict.get(review['userId'])
        if user_idx is not None:  # Check if user exists in user_ids
            rating = round(review['rating'], 6)
            # Populate the user-item matrix using the user index as the row index
            user_item_matrix[user_idx, i] = rating

In [58]:
user_item_matrix

array([[0., 0., 4., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [3., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [59]:
unique_values = np.unique(user_item_matrix)
print("Unique values in the user-item matrix:", unique_values)
user_item_matrix

Unique values in the user-item matrix: [0. 1. 2. 3. 4. 5.]

array([[0., 0., 4., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [3., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [60]:
# Step 2: Center the Data
def center_data(user_item_matrix):
    user_means = np.mean(user_item_matrix, axis=1)
    centered_user_item_matrix = user_item_matrix - user_means[:, np.newaxis]
    return centered_user_item_matrix, user_means

# Step 3: Apply SVD
def apply_svd(centered_user_item_matrix, num_latent_factors):
    U, Sigma, Vt = np.linalg.svd(centered_user_item_matrix, full_matrices=False)
    Sigma = np.diag(Sigma[:num_latent_factors])
    U = U[:, :num_latent_factors]
    Vt = Vt[:num_latent_factors, :]
    return U, Sigma, Vt

# Step 4: Select the Number of Latent Factors
num_latent_factors = 2  # Example: Set the number of latent factors

# Step 5: Compute Recommendations
def compute_recommendations(U, Sigma, Vt, user_means, user_id, num_recommendations):
    user_index = user_id - 1
    user_ratings = np.dot(U[user_index, :], np.dot(Sigma, Vt)) + user_means[user_index]
    # Filter out items the user has already interacted with
    user_ratings[user_item_matrix[user_index, :] > 0] = -np.inf
    top_indices = np.argsort(user_ratings)[::-1][:num_recommendations]
    return top_indices + 1  # Add 1 to match item IDs (assuming item IDs start from 1)

# Step 6: Recommendation Generation
def generate_recommendations(user_id, num_recommendations):
    recommendations = compute_recommendations(U, Sigma, Vt, user_means, user_id, num_recommendations)
    return recommendations

In [72]:
user_ids

['1707083',
 '1225166',
 '271571',
 '1187504',
 '376197',
 '343079',
 '2314153',
 '593400',
 '984864',
 '1775345',
 '11059',
 '203982',
 '17083',
 '369256',
 '2195799',
 '1451179',
 '1275924',
 '270212',
 '2067793',
 '817811',
 '2388852',
 '1043570',
 '2462248',
 '821900',
 '291156',
 '2469581',
 '1454436',
 '360846',
 '2632347',
 '1860633',
 '1222147',
 '2216584',
 '1978818',
 '488519',
 '592636',
 '1102182',
 '1155747',
 '2071147',
 '1754534',
 '2433552',
 '1487026',
 '1227725',
 '1958917',
 '346499',
 '789999',
 '1186156',
 '2378681',
 '2343337',
 '1657798',
 '1645783',
 '1225309',
 '2394320',
 '260430',
 '24373',
 '1072822',
 '1062539',
 '1183014',
 '1462925',
 '1523528',
 '108733',
 '385413',
 '1657452',
 '235786',
 '156948',
 '1994031',
 '1978844',
 '1816429',
 '458577',
 '445879',
 '1904886',
 '2378599',
 '2063145',
 '2352323',
 '408117',
 '386278',
 '506115',
 '2365159',
 '480163',
 '2360901',
 '1682857',
 '2370132',
 '1675249',
 '1815109',
 '1756385',
 '802808',
 '1696864',
 '2060312',
 '2512642',
 '2187706',
 '1329985',
 '150751',
 '50075',
 '901116',
 '1145797',
 '2138959',
 '1654595',
 '571822',
 '2414152',
 '787003',
 '1383450',
 '994072',
 '812458',
 '2502145',
 '2402693',
 '300642',
 '2008700',
 '13513',
 '570118',
 '2257938',
 '2646131',
 '168366',
 '944840',
 '408497',
 '467685',
 '2458007',
 '1434975',
 '1945373',
 '1335132',
 '2634847',
 '340026',
 '1510691',
 '1656754',
 '813236',
 '973563',
 '481566',
 '253876',
 '847039',
 '667607',
 '797833',
 '324391',
 '2120083',
 '1144342',
 '235381',
 '1573490',
 '1552265',
 '2008232',
 '2644425',
 '1903412',
 '1924616',
 '1463952',
 '1420977',
 '57371',
 '2165469',
 '2196236',
 '334847',
 '419667',
 '1050114',
 '1562226',
 '1004725',
 '1118662',
 '7063',
 '327716',
 '632384',
 '1653757',
 '1526418',
 '1598067',
 '1656709',
 '33253',
 '284433',
 '510438',
 '2535562',
 '829241',
 '1262327',
 '1451137',
 '1529590',
 '524458',
 '967547',
 '2440819',
 '536294',
 '805778',
 '1244162',
 '942656',
 '1771426',
 '564646',
 '2326838',
 '433063',
 '424418',
 '2299153',
 '2102396',
 '1088225',
 '2012307',
 '1735886',
 '1639778',
 '1010471',
 '2205534',
 '1434103',
 '2099473',
 '1457641',
 '1399198',
 '498472',
 '1500978',
 '1018434',
 '2375433',
 '1011516',
 '956851',
 '362301',
 '1878882',
 '386874',
 '1971360',
 '258486',
 '1115808',
 '978412',
 '1072140',
 '883375',
 '1272225',
 '2076505',
 '1781430',
 '2173206',
 '2050982',
 '1813924',
 '334365',
 '2559082',
 '2226142',
 '2274719',
 '2168071',
 '2585568',
 '2022900',
 '1361196',
 '1382879',
 '1667780',
 '394170',
 '248342',
 '2538943',
 '2122256',
 '2262260',
 '2417129',
 '2641934',
 '145051',
 '244301',
 '1909398',
 '848734',
 '1246674',
 '1678460',
 '1622492',
 '456798',
 '1081067',
 '450895',
 '2638632',
 '1656077',
 '2452323',
 '1045609',
 '886454',
 '1633942',
 '2401042',
 '2226339',
 '154831',
 '1100964',
 '137924',
 '2186344',
 '495789',
 '588787',
 '80938',
 '481524',
 '2342060',
 '1471620',
 '1788688',
 '2222787',
 '1368894',
 '699698',
 '1009118',
 '587243',
 '1921577',
 '1870193',
 '2041589',
 '1370274',
 '2469669',
 '1369560',
 '1345436',
 '665566',
 '1265315',
 '426198',
 '1066774',
 '778941',
 '366611',
 '1049321',
 '1484610',
 '1742379',
 '1431596',
 '83338',
 '1128908',
 '2200553',
 '1785464',
 '226098',
 '365726',
 '404602',
 '242906',
 '1719955',
 '635101',
 '391023',
 '1352667',
 '1084367',
 '650920',
 '1477724',
 '542227',
 '2059634',
 '2459563',
 '678815',
 '1877332',
 '614044',
 '1689319',
 '2045622',
 '2503184',
 '1284029',
 '1755561',
 '1498334',
 '151666',
 '293267',
 '2436327',
 '2239098',
 '319827',
 '394125',
 '181877',
 '2209731',
 '1419194',
 '2003709',
 '709055',
 '1753008',
 '168344',
 '1551135',
 '2074612',
 '2201757',
 '1344897',
 '1763496',
 '1035584',
 '2458394',
 '2066337',
 '1330284',
 '1532773',
 '2412761',
 '2599149',
 '288958',
 '2535998',
 '1306856',
 '1747047',
 '1030684',
 '556376',
 '1199988',
 '2224246',
 '2527137',
 '2058225',
 '700229',
 '1261312',
 '1038698',
 '782760',
 '2555672',
 '844728',
 '2419441',
 '537083',
 '2252770',
 '224637',
 '1382539',
 '828455',
 '560142',
 '436856',
 '1329051',
 '384504',
 '5170',
 '1554384',
 '2047045',
 '2147617',
 '2421328',
 '764038',
 '1786637',
 '2160486',
 '1574209',
 '1978164',
 '1322747',
 '248844',
 '215914',
 '1541347',
 '899664',
 '1644627',
 '1316130',
 '2645123',
 '497789',
 '590252',
 '841198',
 '824067',
 '1981359',
 '1363897',
 '2477241',
 '1322013',
 '884492',
 '2579169',
 '1745961',
 '947725',
 '624574',
 '274135',
 '898121',
 '1620368',
 '2264864',
 '2465779',
 '312525',
 '2401384',
 '1964334',
 '646862',
 '15863',
 '1131759',
 '2196480',
 '2273948',
 '464852',
 '1658',
 '290549',
 '3870',
 '2529364',
 '2319769',
 '883795',
 '181558',
 '939533',
 '320820',
 '206698',
 '1728302',
 '1551367',
 '2231444',
 '373697',
 '121370',
 '703992',
 '2513489',
 '1027280',
 '867152',
 '303481',
 '377848',
 '2512224',
 '1904405',
 '737967',
 '1878606',
 '1981343',
 '1985552',
 '1478798',
 '959838',
 '600033',
 '2577102',
 '1070779',
 '1385106',
 '273746',
 '2575980',
 '1520494',
 '2114544',
 '503338',
 '2254919',
 '1120580',
 '1009505',
 '189451',
 '523793',
 '51500',
 '1984620',
 '26090',
 '1373921',
 '1904884',
 '2238839',
 '1156311',
 '192709',
 '1047481',
 '220164',
 '1796576',
 '1356119',
 '1710082',
 '1211709',
 '768562',
 '1822872',
 '370806',
 '2609740',
 '1123355',
 '161238',
 '1907228',
 '501396',
 '652812',
 '1468224',
 '208803',
 '387250',
 '717599',
 '2526148',
 '1078514',
 '2161246',
 '2117911',
 '1937799',
 '328458',
 '891954',
 '305611',
 '355804',
 '2117411',
 '2441377',
 '863210',
 '7544',
 '764658',
 '308487',
 '681879',
 '1321668',
 '160174',
 '1761612',
 '218648',
 '541239',
 '88431',
 '2216955',
 '1777345',
 '1122282',
 '1589238',
 '2454853',
 '133494',
 '1366805',
 '453268',
 '690018',
 '2141510',
 '225399',
 '2476338',
 '1764031',
 '1421789',
 '1297444',
 '2066147',
 '1792129',
 '2018677',
 '960456',
 '1735827',
 '1461618',
 '854961',
 '256271',
 '769976',
 '1115363',
 '2247375',
 '529607',
 '126604',
 '46140',
 '2013745',
 '1899679',
 '385247',
 '1148202',
 '161049',
 '1426516',
 '545351',
 '798524',
 '1108077',
 '1222020',
 '659804',
 '158258',
 '984421',
 '395179',
 '1991261',
 '143500',
 '46103',
 '2517165',
 '2579551',
 '1632957',
 '1099321',
 '298327',
 '875909',
 '1382862',
 '131724',
 '1982181',
 '809341',
 '2259279',
 '367913',
 '1610739',
 '2528847',
 '340219',
 '1673651',
 '1065929',
 '220234',
 '2261198',
 '1181341',
 '340639',
 '2105294',
 '2140671',
 '707026',
 '591377',
 '1451491',
 '2114752',
 '2391281',
 '1631106',
 '1408803',
 '395298',
 '2420904',
 '1325184',
 '2478351',
 '1147712',
 '1608873',
 '58490',
 '994106',
 '554135',
 '360679',
 '662514',
 '1175738',
 '1465141',
 '707921',
 '374243',
 '2364073',
 '2645265',
 '875295',
 '2230608',
 '1947073',
 '1936469',
 '195107',
 '1067065',
 '351395',
 '807642',
 '638582',
 '769182',
 '521714',
 '2160780',
 '334004',
 '2391515',
 '226373',
 '753130',
 '342020',
 '1145629',
 '1404976',
 '265770',
 '2391200',
 '1352886',
 '1669092',
 '2596404',
 '1561126',
 '2084966',
 '332242',
 '529803',
 '927550',
 '1635581',
 '1565518',
 '407016',
 '2229072',
 '2202699',
 '440192',
 '2554764',
 '784603',
 '1866681',
 '564441',
 '1363274',
 '1878498',
 '2173210',
 '1777163',
 '1265053',
 '196562',
 '1431865',
 '1531023',
 '1541721',
 '2572281',
 '102442',
 '150145',
 '2267099',
 '1969444',
 '1994984',
 '437711',
 '837366',
 '1641701',
 '1547193',
 '947576',
 '2359497',
 '2292093',
 '1466484',
 '2577882',
 '682173',
 '1356785',
 '163101',
 '258924',
 '2337460',
 '132605',
 '747744',
 '1862666',
 '195287',
 '307573',
 '2641316',
 '2018754',
 '1841608',
 '725721',
 '1953711',
 '2595413',
 '2158461',
 '806758',
 '2128482',
 '828367',
 '182588',
 '545269',
 '1114843',
 '829000',
 '336797',
 '1696380',
 '1817448',
 '935447',
 '243004',
 '797359',
 '279117',
 '471001',
 '1009635',
 '1928647',
 '2459423',
 '467230',
 '477789',
 '1761603',
 '1678032',
 '1689560',
 '1370778',
 '1278832',
 '453992',
 '1019748',
 '736470',
 '2288634',
 '454736',
 '1503412',
 '277601',
 '2113753',
 '784621',
 '2333075',
 '149408',
 '156966',
 '735305',
 '450706',
 '2358975',
 '2380910',
 '1174820',
 '2497288',
 '1686421',
 '2411420',
 '2122917',
 '1945829',
 '1980208',
 '1253608',
 '1283908',
 '2526842',
 '661816',
 '1937735',
 '1397324',
 '2405629',
 '2155454',
 '2216478',
 '65557',
 '1698112',
 '2153721',
 '723263',
 '2586697',
 '255723',
 '2050924',
 '1782947',
 '692831',
 '1563046',
 '2577124',
 '1240993',
 '1987586',
 '749727',
 '747972',
 '1609195',
 '639715',
 '1637685',
 '2089082',
 '2001075',
 '643718',
 '1362796',
 '411519',
 '129895',
 '154009',
 '635798',
 '189629',
 '372684',
 '243013',
 '1716055',
 '2381043',
 '199403',
 '1580251',
 '2629166',
 '514148',
 '117131',
 '808135',
 '117577',
 '1501357',
 '470582',
 '876058',
 '86173',
 '1305632',
 '775874',
 '118838',
 '164865',
 '1062078',
 '2141939',
 '689371',
 '757893',
 '1625264',
 '1084691',
 '2061602',
 '178466',
 '1396122',
 '1355089',
 '953789',
 '2014644',
 '2626232',
 '2351463',
 '2625846',
 '2410252',
 '724134',
 '1914144',
 '1476449',
 '561217',
 '220378',
 '1642318',
 '1006164',
 '687618',
 '648079',
 '2545237',
 '2119846',
 '2471074',
 '245953',
 '2629767',
 '882711',
 '2597833',
 '330340',
 '690642',
 '119916',
 '906040',
 '39343',
 '1105811',
 '2418608',
 '436208',
 '2025624',
 '1391897',
 '948469',
 '608430',
 '2571832',
 '949642',
 '429565',
 '680958',
 '2435110',
 '643965',
 '2266983',
 '2246646',
 '984253',
 '273143',
 '311352',
 '2443471',
 '1890551',
 '2043517',
 '2575461',
 '844165',
 '236667',
 '1522180',
 '2516562',
 '1445799',
 '432314',
 '1287441',
 '225173',
 '332796',
 '588340',
 '701307',
 '1752547',
 '48142',
 '2102481',
 '1084500',
 '1983525',
 '717416',
 '962532',
 '1446718',
 '666172',
 '1007067',
 '2392159',
 '1431215',
 '707034',
 '1945793',
 '580083',
 '1611417',
 '1844637',
 '2109010',
 '1528680',
 '1393702',
 '647111',
 '1232019',
 '1055996',
 '1049642',
 '1424472',
 '53731',
 '158078',
 '2493476',
 '2459388',
 '111563',
 '253285',
 '2617084',
 '513127',
 '995709',
 '1376007',
 '773994',
 '1936537',
 '376082',
 '1886528',
 '604253',
 '55778',
 '2200498',
 '2118429',
 '2089252',
 '614872',
 '883925',
 '1241060',
 '2519299',
 '662944',
 '558116',
 '2471719',
 '1933512',
 '1130588',
 '2295818',
 '1822108',
 '1788942',
 '2487365',
 '1112206',
 '2406365',
 '962097',
 '282729',
 '1029034',
 '704862',
 '564460',
 '1405884',
 '1673564',
 '694764',
 '1799888',
 '720436',
 '1955546',
 '2607719',
 '1639776',
 '1099761',
 '835473',
 '2024335',
 '1443119',
 '1401726',
 '1329100',
 '651243',
 '745676',
 '230289',
 '1242546',
 '2518523',
 '1987655',
 '1396873',
 '224051',
 '2155398',
 '590025',
 '2436551',
 '556596',
 '802876',
 '1836264',
 '595171',
 '2099112',
 '452919',
 '2206924',
 '775967',
 '2646808',
 '1766968',
 '1640850',
 '1312635',
 '326225',
 '768474',
 '2281854',
 '1389224',
 '1306846',
 '1022515',
 '805988',
 '2276374',
 '1420484',
 '1431347',
 '2151360',
 '1939184',
 '2094826',
 '148177',
 '2492306',
 '1522620',
 '2193032',
 '2552759',
 '371312',
 '1027760',
 '37189',
 '209628',
 '2442067',
 '493976',
 '484589',
 '1427929',
 '747679',
 '165760',
 '402411',
 '1204853',
 '2392445',
 '2284635',
 '23573',
 '2629660',
 '1570199',
 '2003621',
 '2296676',
 '633770',
 '1280388',
 '2242056',
 '1595863',
 '1102559',
 '1713831',
 '123518',
 '2178644',
 '2343575',
 '1136539',
 '1342084',
 '923732',
 '2051620',
 '487073',
 '2141457',
 '2048985',
 '1294867',
 '2441015',
 '514422',
 '1710194',
 '1962728',
 '864431',
 '1497787',
 ...]

In [75]:
centered_user_item_matrix, user_means = center_data(user_item_matrix)
U, Sigma, Vt = apply_svd(centered_user_item_matrix, num_latent_factors)
num_recommendations = 2
# Iterate over each user ID in the user_ids list
for user_id in user_ids:
    user_id = int(user_id)
    # Generate recommendations for the current user
    recommendations = generate_recommendations(user_id, num_recommendations)
    print("Recommendations for user", user_id, ":", recommendations)

IndexError: index 1707082 is out of bounds for axis 0 with size 238312